:root {
	--navpages-font-color: rgb(255 255 255 / 0.75);
	--grid-object-bg: linear-gradient(90deg, #2a2a2a, hsl(0deg 0% 22%));
	--grid-object-font-color: rgb(255 255 255 / 0.75);
	--poster-bg-color: #191919;
	--navbar-bg: transparent;
	--searchbar-bg: rgb(0 0 0 / 0.45);
}

html {
	background: #363636;
}

body {
	background: linear-gradient(
		145deg,
		rgba(18, 23, 25, 0.8),
		rgba(18, 23, 25, 0.25),
		rgba(18, 23, 25, 0.15),
		rgba(0, 0, 0, 0)
	);
}

.sidebar {
	background: transparent;
}

.description-tint {
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), #191919);
}

.text-input-container {
	background: rgb(255 255 255 / 0.08);
	color: rgb(255 255 255 / 0.75);
}

.viewport-container {
	color: rgb(255 255 255 / 0.75);
}

.nav-tab.group .fas {
	color: rgb(255 255 255 / 0.75);
}

.nav-tab.group,
.nav-tab.group.collapsed:last-of-type[aria-expanded="false"] {
	border-color: rgb(255 255 255 / 0.1);
}

.review {
	background: var(--poster-bg-color);
}

@media only screen and (max-width: 800px) {
	.sidebar {
		background: #1f1f1f;
	}
}

/* Manage Users */
.table-wrapper {
	background: var(--grid-object-bg);
}

table.table-striped tbody tr:nth-of-type(odd) {
	background: transparent;
}

table.table-striped.table-hover tbody tr:hover {
	background: rgb(255 255 255 / 0.05);
}

.table-hover tbody tr:hover {
	color: rgb(255 255 255 / 1);
}

.table {
	color: rgb(255 255 255 / 0.75);
}

.table-title {
	background: rgb(29 29 29);
}

.table td,
.table th {
	border-color: rgb(255 255 255 / 0.2) !important;
}
