.issue-container {
  padding: 15px;
  border-radius: 8px;
  background: #252525;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 300;
  line-height: 18px;
  height: auto;
  overflow: hidden;
  width: 300px;
}

.issue-container .content-type-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.issue-container .title {
  font-weight: 700;
}

.issue-container .category:not(:last-child) {
  margin-bottom: 10px;
}

.issue-container .first.category {
  padding-right: 25px;
}
