:root {
	/* Globals */
	--body-bg: #f5f5f5;
	--global-font: "Roboto", sans-serif;
	--primary-font-size: 14px;
	--secondary-font-size: 12px;
	--box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
		0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
	--accent-color: #258a6d;
	--green-dot: #39b54a;
	--red-dot: #ff0000;
	--yellow-dot: #ffff00;
	--placeholder-gradient: var(--poster-bg-color);
	/* Sidebar */
	--sidebar-bg: #fdfdfd;
	--sidebar-top: var(--navbar-height);
	--sidebar-width: 240px;
	--navpages-btn-padding-group: 15px 20px;
	--navpages-btn-padding-suboption: 15.5px 20px 15.5px 40px;
	--navpages-btn-border: 1px solid rgba(0, 0, 0, 0.1);
	--navpages-font-color: #323232;
	/* Navbar */
	--navbar-bg: #3f3f3f;
	--navbar-height: 55px;
	--navbar-font-color: rgba(255, 255, 255, 0.5);
	--navbar-side-padding: 20px;
	--logo-drop-shadow: drop-shadow(3px 3px 5px #2222224f);
	--searchbar-font-color: rgba(255, 255, 255, 0.3);
	--searchbar-bg: #252525;
	--searchbar-width: 35%;
	/* Viewport */
	--viewport-padding: 30px;
	--viewport-total-padding: calc(var(--viewport-padding) * 2);
	--viewport-left: var(--sidebar-width);
	/* Posters */
	--poster-bg-color: #3f3f3f;
	--poster-width: 150px;
	--poster-height: calc(var(--poster-width) * 1.5);
	--poster-container-height: calc(var(--poster-width) * 2.1);
	--poster-details-height: calc(
		var(--poster-container-height) - var(--poster-height)
	);
	--poster-padding: 10px;
	--poster-description-padding: 10px;
	--poster-title-font-size: 16px;
	--poster-title-top-padding: 7px;
	--poster-title-bottom-padding: 5px;
	--poster-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24),
		0 0 2px rgba(0, 0, 0, 0.12);
	/* Poster Indicators */
	--tv-color: #0076a3;
	--tv-indicator-hr: 2px solid var(--tv-color);
	--movie-color: #b66707;
	--movie-indicator-hr: 2px solid var(--movie-color);
	/* Modal */
	--modal-top-btn-color: rgba(255, 255, 255, 0.7);
	--modal-width: 780px;
	--modal-height: 380px;
	--modal-poster-width: 220px;
	--modal-poster-height: calc(var(--modal-poster-width) * 1.5);
	--modal-template-rows: calc(
			(var(--modal-height) - var(--modal-poster-height)) / 2 + 20px
		)
		40px 90px auto;
	--modal-template-columns: calc(
			var(--modal-poster-width) +
				(var(--modal-height) - var(--modal-poster-height))
		)
		auto;
	/* Full Screen View */
	--grid-object-bg: #fff;
	--movie-indicator: #b66707;
	--grid-object-spacing: 20px;
	--grid-object-padding: 20px;
	--grid-object-font-color: rgba(0, 0, 0, 0.75);
}

/* Generic rules */

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	overflow: hidden;
	font-family: var(--global-font);
	scroll-behavior: smooth;
}

body {
	background-color: var(--body-bg);
	margin: 0px;
	padding: 0px;
	height: 100%;
	overflow-y: scroll;
	box-sizing: content-box;
	position: relative;
	line-height: 1;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

a {
	color: unset;
	transition: 0.3s ease color;
}

a:hover {
	color: #fff;
	text-decoration: initial;
}

:focus {
	outline: none;
}

.empty-viewport > div {
	line-height: 2;
}

.bold {
	font-weight: 700;
}

.red {
	background-color: var(--red-dot);
}

.green {
	background-color: var(--green-dot);
}

.yellow {
	background-color: var(--yellow-dot);
}

.inline-block {
	display: inline-block;
}

.inline {
	display: inline;
}

.light {
	font-weight: 300;
}

.box-shadow {
	box-shadow: var(--box-shadow);
}

.no-highlighting {
	/* iOS Safari */
	-webkit-touch-callout: none;
	/* Konqueror HTML */
	-webkit-user-select: none;
	/* Old versions of Firefox */
	-moz-user-select: none;
	/* Internet Explorer/Edge */
	-ms-user-select: none;
	/* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
	user-select: none;
}

.clickable {
	cursor: pointer;
}

.line-clamp-1 {
	display: -webkit-box !important;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
}

.opacity-1 {
	opacity: 1 !important;
}

.spinner-border {
	z-index: 999;
	margin: auto;
	color: var(--accent-color);
}

/* Text input boxes */

input:checked ~ .state {
	color: var(--accent-color);
}

::-webkit-input-placeholder {
	opacity: 0.75;
}

::-moz-placeholder {
	opacity: 0.75;
}

:-ms-input-placeholder {
	opacity: 0.75;
}

::-ms-input-placeholder {
	opacity: 0.75;
}

::placeholder {
	opacity: 0.75;
}

.text-input {
	display: block;
	border: none;
	outline: none !important;
	color: rgb(255 255 255 / 0.65);
	padding: 10px;
	font-size: var(--primary-font-size);
	font-family: var(--global-font);
	transition: background 0.3s ease, color 0.3s ease;
	border-radius: 4px;
	font-weight: 300;
}

.text-input:focus {
	background: #fff;
	color: #252525;
}

.text-input-container {
	background: #2525251c;
	border-radius: 4px;
	transition: background 0.4s ease, color 0.4s ease;
	color: rgb(0 0 0);
	overflow: hidden;
	height: 35px;
}

.text-input-container.error {
	background: rgb(255 0 0 / 28%);
}

.text-input-container.dropdown {
	overflow: visible;
}

.text-input-container:focus-within {
	background: #fff;
	color: #252525;
}

.text-input-container input {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	background: none;
	color: inherit;
	border: none;
	font-size: var(--primary-font-size);
	padding-left: 15px;
	padding-right: 15px;
	outline: none !important;
}

/* Lazy loaded images */

img.lazy {
	opacity: 0;
}

img.lazy.initial,
img.lazy.loaded,
img.lazy.error {
	opacity: 1;
}

img.lazy:not([src]) {
	visibility: hidden;
}

/* Scrollbar */

.simplebar-scrollbar::before {
	background-color: var(--accent-color);
}

::-webkit-scrollbar {
	width: 7px;
	height: 7px;
	background: transparent;
}

.sidebar::-webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background: rgb(65 146 123 / 0.6);
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
	display: none;
}

/* Hide scrollbars for non-webkit browsers */

html * {
	/* IE 11 */
	-ms-overflow-style: none;
	/* Firefox 64 */
	scrollbar-width: none;
}
