@media only screen and (max-width: 1300px) {
	/* Tables */
	.table-wrapper .first {
		display: none;
	}
}

@media only screen and (max-width: 1250px) {
	/*  Settings Menu    */
	.settings-input-group {
		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
	}
}

@media only screen and (max-width: 1150px) {
	:root {
		/* Sidebar */
		--sidebar-width: 200px;
		/* Videos */
		--video-height: calc(var(--video-width) * 0.5625);
		--video-width: 30vw;
		/* Artwork */
		--artwork-height: calc(var(--video-width) * 0.5625);
		--artwork-width: 30vw;
	}
	/* Tables */
	.table-wrapper .second {
		display: none;
	}
}
@media only screen and (max-width: 1000px) {
	/* Posters */
	.viewport .poster-container .fa-angle-down {
		display: none;
	}
	/* More Info */
	.more-info-topbar .report-modal-btn,
	.more-info-topbar .report-selection-modal-btn,
	.more-info-topbar .series-modal-btn,
	.more-info-topbar .request-btn {
		font-size: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.more-info-topbar .standard-btn .fas {
		font-size: 22px;
	}
	.more-info-quick-info {
		grid-template-columns: repeat(4, auto);
	}
}

@media only screen and (max-width: 880px) {
	:root {
		/* More Info Grid */
		--left-column-width: 175px;
	}
	/* Tables */
	.table-wrapper .third {
		display: none;
	}
	.more-info-quick-info {
		grid-template-columns: repeat(3, auto);
	}
}

@media only screen and (max-width: 800px) {
	:root {
		/* Sidebar */
		--sidebar-width: 100%;
		/* Navbar */
		--searchbar-width: 80%;
		--navbar-height: 45px;
		/* Viewport */
		--viewport-left: 0;
		--viewport-padding: 15px;
		--primary-font-size: 16px;
		/* Posters */
		--poster-width: calc(
			(
					100vw - (var(--poster-padding) * 3) -
						(var(--viewport-total-padding) * 2)
				) / 4
		);
		/* Videos */
		--video-height: calc(var(--video-width) * 0.5625);
		--video-width: 70vw;
		/* Artwork */
		--artwork-height: calc(var(--video-width) * 0.5625);
		--artwork-width: 70vw;
		/* More Info */
		--more-info-section-padding: 0;
		--more-info-section-spacing: 45px;
	}
	::-webkit-scrollbar {
		display: none;
	}
	.navbar {
		z-index: 100;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
	.searchbar {
		left: 0px;
		position: relative;
		height: calc(var(--navbar-height) * 0.8);
		margin: 0;
		margin-left: 25px;
		width: 100%;
	}
	.viewport-container .searchbar {
		display: none !important;
	}
	.username-container {
		margin: calc((var(--navbar-height) - 35px) / 2) 0;
		position: relative;
		padding-right: 0;
		color: rgba(255, 255, 255, 0.75);
	}
	.sidebar {
		z-index: 99;
		transition: height 0.4s ease-in;
	}
	.sidebar.collapsed {
		display: none;
	}
	.nav-tab.suboption .fas {
		opacity: 1;
		margin: 0;
		padding: var(--navpages-btn-padding-suboption);
		padding-left: 20px;
	}
	.viewport-container,
	.viewport-loader {
		z-index: 4;
		width: 100vw;
	}
	.navbar .navbar-toggler {
		display: inline-block;
		border: none;
		padding-left: 0;
		padding-right: 0;
		background: none;
	}
	.navbar .username.full-name {
		display: none !important;
	}
	.navbar .username.first-letter {
		display: inline-block;
	}
	.navbar .username-container {
		border-radius: 50%;
		background: var(--accent-color);
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;
		width: 35px;
		height: 35px;
	}
	.username-container .fa-caret-down {
		padding-left: 2px;
	}
	.navpages-tab.suboption {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	/* More Info */
	.tns-ovh {
		overflow: visible;
	}
	.more-info-topbar {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.more-info-poster-container {
		margin: 0 auto;
		width: 55vw;
	}
	.more-info-poster-container img {
		height: calc(55vw * 1.5);
	}
	.more-info-topbar .series-modal-btn,
	.more-info-topbar .request-btn {
		position: fixed;
		bottom: 20px;
		right: 20px;
		z-index: 97;
		border-radius: 50%;
		width: 45px;
		height: 45px;
	}
	.more-info-topbar .report-modal-btn,
	.more-info-topbar .report-selection-modal-btn {
		position: absolute;
		top: 15px;
		right: 15px;
		z-index: 97;
		padding: 0;
		width: 40px;
	}
	.more-info-topbar .standard-btn.available {
		display: none;
	}
	.tns-controls {
		display: none;
	}
	.main-title {
		margin-top: 25px;
		font-size: 26px;
	}
	.main-rating {
		font-size: 16px;
	}
	.more-info-main-info {
		height: 0;
		margin-top: 0;
	}
	.more-info {
		margin-bottom: 80px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.tns-inner {
		margin: 0 !important;
	}
	.grid-block.contains-carousel .more-info-head {
		padding-bottom: 15px;
	}
	.more-info-quick-info-container {
		margin-left: 0;
		margin-right: 0;
	}
	/*  Settings Menu    */
	.settings-input-group {
		grid-template-columns: minmax(0, 1fr);
	}
	/* Posters */
	.viewport .poster-container .poster-description-container {
		opacity: 1 !important;
	}
	.viewport .poster-container > a > .content-type-icon {
		opacity: 1;
	}
	.viewport .poster-container .requested-by {
		opacity: 1;
	}
	/* Issue Reporting */
	.issue-container .issue-manage-icons .fas {
		font-size: 20px;
		padding: 5px;
	}
	/* Manage Users */
	.table-wrapper {
		padding: 0;
	}
	.table-title {
		margin: 0;
	}
}

@media only screen and (max-width: 600px) {
	:root {
		/* Posters */
		--poster-width: calc(
			(
					100vw - (var(--poster-padding) * 2) -
						(var(--viewport-total-padding) * 2)
				) / 3
		);
	}
	/* Tables */
	.table-wrapper .fourth {
		display: none !important;
	}
	.table-wrapper .row {
		flex-direction: row-reverse;
	}
	/* More Info */
	.more-info-quick-info {
		grid-template-columns: repeat(2, auto);
	}
}

@media only screen and (max-width: 450px) {
	:root {
		/* Posters */
		--poster-width: calc(
			(
					100vw - var(--poster-padding) -
						(var(--viewport-total-padding) * 2)
				) / 2
		);
	}
	/* More Info */
	.more-info-quick-info {
		grid-template-columns: repeat(1, auto);
	}
}

/* Modals */
@media only screen and (max-width: 991px) {
	.modal-body.filter .simple-filter-container {
		display: flex;
		flex-wrap: wrap;
	}
	.modal-body.filter .simple-filter-toggle-container {
		flex-direction: column;
		margin: 0 6px;
	}
	.modal-body.filter .simple-filter-toggle-container > *:not(:last-child) {
		margin-bottom: 10px;
	}
	.modal-body .simple-filter-btn {
		padding: 15px 25px;
		width: 100%;
	}
}
