@media only screen and (max-width: 1300px) {
  /* Tables */
  .table-wrapper .desktop-only.first {
    display: none;
  }
}

@media only screen and (max-width: 1250px) {
  /*  Settings Menu    */
  .settings-input-group {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }
}

@media only screen and (max-width: 1150px) {
  :root {
    /* Videos */
    --video-height: calc(var(--video-width) * 0.5625);
    --video-width: 30vw;
    /* Artwork */
    --artwork-height: calc(var(--video-width) * 0.5625);
    --artwork-width: 30vw;
  }
  /* Tables */
  .table-wrapper .desktop-only.second {
    display: none;
  }
}
@media only screen and (max-width: 1000px) {
  /* Posters */
  .viewport .poster-container .fa-angle-down {
    display: none;
  }
}

@media only screen and (max-width: 880px) {
  :root {
    /* More Info Grid */
    --left-column-width: 175px;
  }
  /* Tables */
  .table-wrapper .desktop-only.third {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  :root {
    /* Sidebar */
    --sidebar-width: 100%;
    --sidebar-top: 0;
    /* Navbar */
    --searchbar-width: 70%;
    /* Viewport */
    --viewport-left: 0;
    --viewport-padding: 15px;
    /* Posters */
    --poster-width: calc(
      (
          100vw - (var(--poster-padding) * 3) -
            (var(--viewport-total-padding) * 2)
        ) / 4
    );
    /* Videos */
    --video-height: calc(var(--video-width) * 0.5625);
    --video-width: 70vw;
    /* Artwork */
    --artwork-height: calc(var(--video-width) * 0.5625);
    --artwork-width: 70vw;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .navbar {
    z-index: 100;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .navbar-brand-container {
    display: none;
  }
  .searchbar {
    left: 0px;
    position: relative;
    margin: auto 0;
  }
  .username-container {
    margin: calc((var(--navbar-height) - 35px) / 2) 0;
    position: relative;
    padding-right: 0;
    color: rgba(255, 255, 255, 0.75);
  }
  .sidebar {
    top: var(--navbar-height);
    z-index: 99;
    transition: height 0.4s ease-in;
  }
  .sidebar.collapsed {
    display: none;
  }
  .viewport-container,
  .viewport-loader {
    z-index: 4;
    width: 100vw;
  }
  .navbar .navbar-toggler {
    display: inline-block;
    border: none;
    padding-left: 0;
    padding-right: 0;
    background: none;
  }
  .navbar .username.full-name {
    display: none;
  }
  .navbar .username.first-letter {
    display: inline-block;
  }
  .navbar .username-container {
    border-radius: 50%;
    background: var(--accent-color);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
  }
  .username-container .fa-caret-down {
    padding-left: 2px;
  }
  .navpages-tab.suboption {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  /* More Info */
  .more-info-grid {
    display: flex;
    flex-direction: column;
    width: calc(100vw - var(--viewport-padding) * 2);
  }
  .more-info-poster-container {
    margin: 0 auto;
    width: 55vw;
  }
  .more-info-poster-container img {
    height: calc(55vw * 1.5);
  }
  .more-info-grid .request-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 97;
    border-radius: 50%;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
  }
  .more-info-grid .request-button .fas {
    font-size: 22px;
  }
  .tns-controls {
    display: none;
  }
  .main-title,
  .main-rating {
    display: none;
    margin: 0;
    padding: 0;
  }
  .more-info-main-info {
    height: 0;
  }
  .more-info {
    margin-bottom: 80px;
  }
  /*  Settings Menu    */
  .settings-input-group {
    grid-template-columns: minmax(0, 1fr);
  }
  /* Posters */
  .viewport .poster-container .poster-description-container {
    opacity: 1 !important;
  }
  .viewport .poster-container .content-type-icon {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  :root {
    /* Posters */
    --poster-width: calc(
      (
          100vw - (var(--poster-padding) * 2) -
            (var(--viewport-total-padding) * 2)
        ) / 3
    );
  }
  /* Tables */
  .table-wrapper .desktop-only.fourth {
    display: none !important;
  }
  .table-wrapper .row {
    flex-direction: row-reverse;
  }
}

@media only screen and (max-width: 450px) {
  :root {
    /* Posters */
    --poster-width: calc(
      (100vw - var(--poster-padding) - (var(--viewport-total-padding) * 2)) / 2
    );
  }
}
