.navbar {
	background: var(--navbar-bg);
	height: var(--navbar-height);
	box-shadow: var(--box-shadow);
	padding-left: 20px;
	padding-right: 20px;
	z-index: 3;
	display: none;
}

.searchbar {
	position: relative;
	height: 40px;
	margin: auto;
	margin-bottom: var(--viewport-padding);
	width: var(--searchbar-width);
	background: #252525;
	border-radius: 15px;
	transition: background 0.4s ease, color 0.4s ease;
	color: rgba(255, 255, 255, 0.3);
	overflow: hidden;
	display: flex !important;
}

.viewport-container .searchbar,
.viewport-container-top .searchbar {
	box-shadow: var(--poster-box-shadow);
}

.searchbar:focus-within {
	background: #fff;
	color: #252525;
}

.searchbar input {
	box-sizing: border-box;
	height: 100%;
	max-width: 100%;
	background: none;
	width: calc(100% - 40px);
	color: inherit;
	border: none;
	font-size: 16px;
	padding-left: 15px;
	outline: none !important;
}

.searchbar .fa-search {
	top: 0px;
	right: 0px;
	margin-right: 15px;
	height: calc(var(--navbar-height) * 0.3);
	width: calc(var(--navbar-height) * 0.3);
	color: inherit;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	transition: background 0.3s ease;
}

button:focus {
	outline: none;
	background: rgb(255 255 255 / 0.04);
}
