/* Posters */

.masonry-item {
	margin-bottom: var(--poster-padding);
}

.viewport .poster-container {
	border-radius: 5px;
	width: var(--poster-width);
	overflow: hidden;
	box-shadow: var(--poster-box-shadow);
	transition: transform 0.15s ease-in-out;
	z-index: 1;
	background: var(--poster-bg-color);
	height: auto;
	height: var(--poster-container-height);
	transform: scale(1);
}

.poster-fix {
	width: var(--poster-width);
	height: var(--poster-height);
	overflow: hidden;
}

.viewport .poster {
	width: var(--poster-width);
	height: var(--poster-height);
	display: block;
	transition: transform 0.3s ease, opacity 2.5s, -webkit-filter 0.3s ease;
	transition: filter 0.3s ease, transform 0.3s ease, opacity 2.5s;
	transition: filter 0.3s ease, transform 0.3s ease, opacity 2.5s,
		-webkit-filter 0.3s ease;
	z-index: 6;
	position: relative;
}

.viewport .poster:hover {
	-webkit-filter: contrast(1.1) saturate(1.2);
	filter: contrast(1.1) saturate(1.2);
	transform: scale(1.08);
}

.viewport .poster-container:hover {
	transform: scale(1.05);
	z-index: 2;
}

.poster-description-container {
	z-index: 7;
	position: relative;
	height: var(--poster-details-height);
	overflow: hidden;
	width: var(--poster-width);
}

.poster-title {
	font-family: var(--global-font);
	font-weight: 300;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 16px;
	color: #ffffff;
	padding: 7px var(--poster-padding) 5px var(--poster-padding);
	text-align: left;
	display: block;
	width: calc(var(--poster-width) - 20px);
}

.poster-description {
	font-family: var(--global-font);
	font-weight: 300;
	font-size: var(--secondary-font-size);
	text-align: center;
	color: rgba(255, 255, 255, 0.4);
	padding: 0px var(--poster-padding);
}

.description-tint {
	background: linear-gradient(
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0),
		var(--poster-bg-color)
	);
	height: var(--poster-details-height);
	width: var(--poster-width);
	position: absolute;
	top: var(--poster-height);
	left: 0px;
	z-index: 10;
	-webkit-filter: brightness(25%);
	filter: brightness(25%);
}

.viewport .poster-container .fa-angle-down {
	position: absolute;
	bottom: 0px;
	color: rgba(255, 255, 255, 0.5);
	z-index: 11;
	vertical-align: middle;
	width: var(--poster-width);
	padding-top: calc(var(--poster-details-height) - 18px);
	padding-bottom: 2px;
	font-size: 18px;
	transition: color 0.3s ease, background 0.3s ease;
	text-align: center;
}

.viewport .poster-container .fa-angle-down:hover {
	background-color: rgb(255 255 255 / 10%);
	color: rgba(255, 255, 255, 0.85);
}

.requested-by {
	position: absolute;
	top: calc(var(--poster-height) - 30px);
	right: 5px;
	transition: opacity 0.6s ease;
	z-index: 7;
	color: rgb(255 255 255 / 0.75);
	border-radius: 4px;
	padding: 5px;
	font-size: 12px;
	line-height: 14px;
	background: var(--poster-bg-color);
	font-weight: 700;
	max-width: 110px;
}

.viewport .poster-container > a > .content-type-icon {
	position: absolute;
	top: calc(var(--poster-height) - 30px);
	left: 5px;
	opacity: 0.8;
	transition: opacity 0.6s ease;
	z-index: 7;
	color: rgb(255 255 255 / 0.75);
	border-radius: 4px;
	padding: 5px;
	font-size: 12px;
	line-height: 14px;
	background: var(--poster-bg-color);
	font-weight: 700;
	z-index: 11;
}

.viewport .poster-container:hover > a:hover > .content-type-icon {
	opacity: 1;
}

.availablity-dot {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0px;
	margin: 7px 6px;
	pointer-events: auto;
}
