.viewport .poster-container {
	height: var(--poster-height);
}

.viewport .poster-container .fa-angle-down {
	padding-top: 0px;
	color: #000000;
	background: #e4e4e4;
	-webkit-filter: drop-shadow(0 0 6px #000000);
	filter: drop-shadow(0 0 6px #000000);
	border-radius: 20px;
	width: 20px;
	height: 20px;
	left: 50%;
	bottom: 3px;
	transform: translate(-50%, 0%);
	line-height: 1.15;
	opacity: 0.4;
	transition: color 0.3s ease, background 0.3s ease, opacity 0.3s ease;
}

.viewport .poster-container:hover .fa-angle-down {
	opacity: 1;
}

.viewport .poster-container .fa-angle-down:hover {
	color: var(--accent-color);
	background: #ffffff;
}

.viewport .poster-container > a > .requested-by {
	top: calc(var(--poster-height) - 55px);
	left: 5px;
	right: unset;
	opacity: 1;
}

.viewport .poster-container > a > .requested-by {
	max-width: calc(100% - 10px);
}

.viewport .poster-container .poster-description-container {
	opacity: 0.85;
	position: absolute;
	top: -2px;
	left: -2px;
	width: calc(var(--poster-width) + 4px);
	pointer-events: none;
	background: linear-gradient(180deg, black, transparent);
	border: none;
	transition: opacity 0.6s ease;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	padding-top: 2px;
	padding-bottom: 25px;
	color: #d8d8d8;
	text-shadow: -2px -2px 6px #000, 2px -2px 6px #000, -2px 2px 6px #000,
		2px 2px 6px #000;
}

.availablity-dot {
	margin: 8px 7px;
}

.viewport .poster-container:hover .poster-description-container {
	opacity: 1;
}

.poster-container.person-roles .poster-description,
.poster-container.cast .poster-description {
	color: inherit;
	font-weight: 400;
}

.poster-container:not(.cast, .person-roles) .poster-description {
	display: none;
}

.viewport .poster-container .poster {
	transform: scale(1.08);
}

.viewport .poster-container .poster:hover {
	transform: none;
}

.viewport .poster-container > a > .content-type-icon {
	line-height: 1;
	top: unset;
	bottom: 5px;
	left: 5px;
}

.viewport .poster-container .description-tint {
	display: none;
}
