.viewport .poster-container .fa-angle-down {
  padding-top: 0px;
  color: #000000;
  background: #e4e4e4;
  -webkit-filter: drop-shadow(0 0 6px #000000);
  filter: drop-shadow(0 0 6px #000000);
  border-radius: 20px;
  width: 20px;
  height: 20px;
  left: 50%;
  bottom: 3px;
  transform: translate(-50%, 0%);
  line-height: 1.15;
}

.viewport .poster-container .fa-angle-down:hover {
  color: var(--accent-color);
  background: #ffffff;
}

.requested-by {
  top: calc(var(--poster-height) - 55px);
  left: 5px;
  right: unset;
  opacity: 0;
}

.viewport .poster-container:hover > a:hover > .requested-by {
  opacity: 1;
}

.viewport .poster-container .poster-description-container {
  opacity: 0;
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(var(--poster-width) + 4px);
  pointer-events: none;
  background: linear-gradient(180deg, black, transparent);
  border: none;
  transition: opacity 0.6s ease;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 2px;
  padding-bottom: 25px;
}

.availablity-dot {
  margin: 8px 7px;
}

.viewport .poster-container:hover .poster-description-container {
  opacity: 1;
}

.poster-description {
  display: none;
}

.viewport .poster-container .poster:hover {
  -webkit-filter: none;
  filter: none;
  transform: none;
}

.viewport .cast.poster-container {
  height: auto;
}

.viewport .poster-container > a > .content-type-icon {
  line-height: 1;
  top: unset;
  bottom: 5px;
  left: 5px;
}

.viewport .poster-container:hover > a > .content-type-icon {
  opacity: 1;
}

.masonry-item.poster-container.too-few-results {
  height: var(--poster-height);
  padding: 15px;
}
