{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "primary/head_content_slim.html" %}
</head>

<body>
    <div class="main">
        <div class="login-box">
            <div class="login-box-header">
                <img src="{% static 'images/conreq_logo.png' %}" alt="conreq logo" class="login-brand">
            </div>
            <form method="post" action="{% url 'signin' %}">
                {% csrf_token %}
                <input placeholder="username" autocapitalize="none" autocomplete="username" autofocus=""
                    id="id_username" maxlength="150" name="username" required="" type="text">
                <input placeholder="password" autocapitalize="none" autocomplete="current-password" id="id_password"
                    name="password" required="" type="password">
                <input type="submit" value="Sign In">
                <input type="hidden" name="next" value="{{ next }}">
            </form>

            {% if form.errors %}
            <script>
                login_failed_toast_message();
            </script>
            {% endif %}
        </div>
        <div class="login-bg">
            <div class="login-bg-tint">
            </div>
        </div>
    </div>
</body>

</html>