{% load static %}
<div class="poster-container cast no-highlighting">
    <div class="description-tint"></div>
    <a href="#">
        <div class="poster-fix">
            <img src="{% static 'images/transparent.png' %}"
                data-src="{% if card.profile_path %}https://image.tmdb.org/t/p/w200{{card.profile_path}}{% endif %}"
                class="poster lazy" />
        </div>
    </a>

    <div class="poster-description-container">
        <div class="poster-title">{{card.name}}</div>
        <div class="poster-description">{{card.character}}</div>
    </div>
</div>