{% load viewport_tags %}
<div class="masonry-item issue-container">

    <div class="content-type-icon">
        {% if card.content_type == "tv" %}
        <i class="fas fa-tv"></i>
        {% elif card.content_type == "movie" %}
        <i class="fas fa-video"></i>
        {% endif %}
    </div>

    <div class="issue-manage-icons" data-request-id="{{card.id}}" data-resolved="{{card.resolved}}"
        data-url="{% url 'issue_reporting:manage_issue' %}">
        {% if card.resolved and user.is_staff %}
        <i class="fas fa-times approve clickable"></i>
        {% elif user.is_staff %}
        <i class="fas fa-check approve clickable"></i>
        {% endif %}
        <i class="fas fa-trash delete clickable"></i>
    </div>

    <div class="category content-name">
        <a
            href="{% viewport_url 'more_info:main' %}?{% if card.source == 'tmdb' %}tmdb_id={{card.content_id}}{% elif card.source == 'tvdb' %}tvdb_id={{card.content_id}}{% endif %}&content_type={{card.content_type}}">
            <div class="title">Content Name</div>
            {% firstof card.name card.title %}
        </a>
    </div>

    <div class="category">
        <div class="title">Issue{{ card.issues|pluralize:",s" }}</div>
        {% for issue in card.issues %}
        {{ issue }}
        {% endfor %}
    </div>

    {% if card.seasons %}
    <div class="category">
        <div class="title">Season{{ card.seasons|pluralize:",s" }}</div>
        {{ card.seasons|join:", " }}
    </div>
    {% endif %}

    {% if card.episodes %}
    <div class="category">
        <div class="title">Episode{{ card.episodes|pluralize:",s" }}</div>
        {{ card.episodes|join:", " }}
    </div>
    {% endif %}

    <div class="category">
        <div class="title">Reported By</div>
        <div class="line-clamp-1">
            {{ card.reported_by__username }}
        </div>
    </div>

    <div class="category">
        <div class="title">Resolved
            {% if card.resolved %}
            <div class="inline-availablity-dot green"> </div>
            {% else %}
            <div class="inline-availablity-dot red"> </div>
            {% endif %}
        </div>
        {{ card.resolved|yesno:"Yes,No" }}

    </div>

</div>