<div class="masonry-item">
    <div class="issue-container">
        <div> {% firstof card.name card.title %} </div>

        <div>
            <div class="title">Reported By</div>
            {{card.reported_by__username}}
        </div>

        <div>
            <div class="title">Issues</div>
            {% for issue in card.issues %}
            {{issue}}
            {% endfor %}
        </div>

        {% if card.seasons %}
        <div>
            <div class="title">Seasons</div>
            {% for season in card.seasons %}
            {{season}}
            {% endfor %}
        </div>
        {% endif %}

        {% if card.episode_ids %}
        <div>
            <div class="title">Episodes</div>
            {% for episode in card.episode_ids %}
            {{episode}}
            {% endfor %}
        </div>
        {% endif %}

        <div class="content-type-icon {% if not card.poster_path %}opacity-1{% endif %}">
            {% if card.content_type == "tv" %}
            <i class="fas fa-tv"></i>
            {% elif card.content_type == "movie" %}
            <i class="fas fa-video"></i>
            {% endif %}
        </div>

    </div>
</div>