<div class="masonry-item">
    <div class="issue-container">

        <div class="content-type-icon">
            {% if card.content_type == "tv" %}
            <i class="fas fa-tv"></i>
            {% elif card.content_type == "movie" %}
            <i class="fas fa-video"></i>
            {% endif %}
        </div>

        <div class="first category">
            <div class="title">Title</div>
            {% firstof card.name card.title %}
        </div>

        <div class="category">
            <div class="title">Issue{{ card.issues|pluralize:",s" }}</div>
            {% for issue in card.issues %}
            {{ issue }}
            {% endfor %}
        </div>

        {% if card.seasons %}
        <div class="category">
            <div class="title">Season{{ card.seasons|pluralize:",s" }}</div>
            {{ card.seasons|join:", " }}
        </div>
        {% endif %}

        {% if card.episodes %}
        <div class="category">
            <div class="title">Episode{{ card.episodes|pluralize:",s" }}</div>
            {{ card.episodes|join:", " }}
        </div>
        {% endif %}

        <div class="category">
            <div class="title">Reported By</div>
            <div class="line-clamp-1">
                {{ card.reported_by__username }}
            </div>
        </div>

        <div class="category">
            <div class="title">Resolved
                {% if card.resolved %}
                <div class="inline-availablity-dot green"> </div>
                {% else %}
                <div class="inline-availablity-dot red"> </div>
                {% endif %}
            </div>
            {{ card.resolved|yesno:"Yes,No" }}

        </div>

    </div>
</div>