{% load static %}
{% load conreq_tags %}
<div class="poster-container cast no-highlighting">
    <a href="{% viewport_top_url 'more_info:person' %}?id={{card.id}}">
        <div class="description-tint"></div>
        <div class="poster-fix">
            <img src="{% static 'images/transparent.png' %}"
                data-src="{% if card.profile_path %}https://image.tmdb.org/t/p/w300{{card.profile_path}}{% endif %}"
                class="poster lazy" draggable="false" alt="{% firstof card.name 'Unknown' %}" />
        </div>

        <div class="poster-description-container">
            <div class="poster-title">{{card.name}}</div>
            <div class="poster-description">{% firstof card.character card.job card.department %}</div>
        </div>
    </a>
</div>