{% load static %}
<div class="masonry-item poster-container no-highlighting {{card.content_type}}">

    <!-- Poster image and icons floating on it -->
    <a
        href="#{% url 'more_info:main' %}?{% if card.content_source == 'tmdb' %}tmdb_id={{card.id}}{% elif card.content_source == 'radarr' %}tmdb_id={{card.tmdbId}}{% elif card.content_source == 'sonarr' %}tvdb_id={{card.tvdbId}}{% endif %}&content_type={{card.content_type}}">

        {% if card.requested_by and user.is_staff %}
        <div class="requested-by line-clamp-1">
            {{ card.requested_by }}
        </div>
        {% endif %}

        <div class="content-type-icon {% if not card.poster_path and not card.remotePoster %}opacity-1{% endif %}">
            {% if card.content_type == "tv" %}
            <i class="fas fa-tv" title="Television"></i>
            {% elif card.content_type == "movie" %}
            <i class="fas fa-video" title="Movie"></i>
            {% endif %}
        </div>

        <div class="poster-fix">
            {% if card.poster_path %}
            <img src="{% static 'images/transparent.png' %}" data-src="{{card.poster_path}}" class="poster lazy"
                draggable="false" />

            {% elif card.remotePoster %}
            <img src="{% static 'images/transparent.png' %}" data-src="{{card.remotePoster}}" class="poster lazy"
                draggable="false" />

            {% else %}
            <img src="{% static 'images/transparent.png' %}" class="poster" draggable="false" />
            {% endif %}
        </div>
    </a>

    <!-- Preview button -->
    {% if card.content_source == 'tmdb' or card.content_source == 'radarr' %}
    <i class="fas fa-angle-down content-preview-modal-btn clickable" title="Preview"
        data-content-type="{{card.content_type}}" data-tmdb-id="{% firstof card.tmdbId card.id %}"
        data-modal-url="{% url 'more_info:content_preview_modal' %}"></i>
    {% endif %}

    <!-- Poster description -->
    <div class="description-tint"></div>
    <div
        class="poster-description-container {% if not card.poster_path and not card.remotePoster %}opacity-1{% endif %}">
        <div class="poster-title">{% firstof card.name card.title "Unknown" %}</div>
        {% if card.availability == available %}
        <div class="availablity-dot green" title="Available"></div>
        {% elif card.availability == partial %}
        <div class="availablity-dot yellow" title="Partially Available"></div>
        {% else %}
        <div class="availablity-dot red" title="Not Downloaded"></div>
        {% endif %}
        <div class="poster-description">{{card.overview}}</div>
    </div>

</div>