{% load static %}

{% if card.tmdbCard %}
{% include "cards/tmdb.html" %}

{% else %}
<div class="masonry-item">
    <div class="poster-container no-highlighting {{card.contentType}}">
        {% if card.tmdbId %}
        <i class="fas fa-angle-down content-preview-modal-button clickable" data-content-type=" {{card.contentType}}"
            data-tmdb-id="{{card.tmdbId}}" data-modal-url="{% url 'more_info:content_preview_modal' %}"></i>
        {% endif %}
        <div class="description-tint"></div>
        <a
            href="#{% url 'more_info:main' %}?{% if card.tmdbId %}tmdb_id={{card.tmdbId}}{% elif card.tvdbId %}tvdb_id={{card.tvdbId}}{% endif %}&content_type={{card.contentType}}">

            {% if card.requested_by and user.is_staff %}
            <div class="requested-by">
                {{ card.requested_by|truncatechars:12 }}
            </div>
            {% endif %}

            <div class="content-type-icon {% if not card.remotePoster %}opacity-1{% endif %}">
                {% if card.contentType == "tv" %}
                <i class="fas fa-tv"></i>
                {% else %}
                <i class="fas fa-video"></i>
                {% endif %}
            </div>

            <div class="poster-fix">
                {% if card.remotePoster %}
                <img src="{% static 'images/transparent.png' %}" data-src="{{card.remotePoster}}" class="poster lazy"
                    draggable="false" />
                {% else %}
                <img src="{% static 'images/transparent.png' %}" class="poster" draggable="false" />
                {% endif %}
            </div>
        </a>

        <div class="poster-description-container {% if not card.remotePoster %}opacity-1{% endif %}">
            <div class="poster-title">{% firstof card.title "Unknown" %}</div>
            {% if card.conreqStatus == available %}
            <div class="availablity-dot green"></div>
            {% elif card.conreqStatus == partial %}
            <div class="availablity-dot yellow"></div>
            {% else %}
            <div class="availablity-dot red"></div>
            {% endif %}
            <div class="poster-description">{{card.overview}}</div>
        </div>
    </div>
</div>
{% endif %}