{% load static %}
<div class="masonry-item poster-container no-highlighting {{card.content_type}}">
    <i class="fas fa-angle-down content-preview-modal-btn clickable" data-content-type="{{card.content_type}}"
        data-tmdb-id="{{card.id}}" data-modal-url="{% url 'more_info:content_preview_modal' %}"></i>
    <div class="description-tint"></div>
    <a href="#{% url 'more_info:main' %}?tmdb_id={{card.id}}&content_type={{card.content_type}}">

        {% if card.requested_by and user.is_staff %}
        <div class="requested-by line-clamp-1">
            {{ card.requested_by }}
        </div>
        {% endif %}

        <div class="content-type-icon {% if not card.poster_path %}opacity-1{% endif %}">
            {% if card.content_type == "tv" %}
            <i class="fas fa-tv"></i>
            {% elif card.content_type == "movie" %}
            <i class="fas fa-video"></i>
            {% endif %}
        </div>

        <div class="poster-fix">
            {% if card.poster_path %}
            <img src="{% static 'images/transparent.png' %}"
                data-src="{% if card.poster_path %}https://image.tmdb.org/t/p/w200{{card.poster_path}}{% endif %}"
                class="poster lazy" draggable="false" />
            {% else %}
            <img src="{% static 'images/transparent.png' %}" class="poster" draggable="false" />
            {% endif %}
        </div>
    </a>

    <div class="poster-description-container {% if not card.poster_path %}opacity-1{% endif %}">
        <div class="poster-title">{% firstof card.name card.title "Unknown" %}</div>
        {% if card.availability == available %}
        <div class="availablity-dot green"></div>
        {% elif card.availability == partial %}
        <div class="availablity-dot yellow"></div>
        {% else %}
        <div class="availablity-dot red"></div>
        {% endif %}
        <div class="poster-description">{{card.overview}}</div>
    </div>
</div>