{% load static compress %}
{% load solo_tags %}
{% get_solo 'server_settings.ServerConfig' as server_settings %}
{% load static %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ server_settings.conreq_app_name }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="Description" content="Conreq: Content Requesting">

<!-- Favicons and App icons -->
{% include "etc/icons.html" %}

<!-- Preconnections -->
<link rel="preconnect" href="https://fonts.googleapis.com">

<!-- Font (Roboto) -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap"
    crossorigin="anonymous">

<!-- Icons (FontAwesome) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/webfonts/fa-solid-900.woff2"
    as="font" type="font/woff2" crossorigin="anonymous">

<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
    crossorigin="anonymous"></script>

<!-- Local CSS -->
{% compress css %}
<link rel="stylesheet" href="{% static 'css/izi_toast_1.4.0.min.css' %}" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/main_slim.css' %}" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/initialization.css' %}" crossorigin="anonymous">
{% endcompress %}

<!-- Local JS -->
{% compress js %}
<script src="{% static 'js/izi_toast_1.4.0.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'js/events.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'js/generic.js' %}" crossorigin="anonymous"></script>
{% endcompress %}