{% extends 'conreq/centered_box.html' %}
{% load static %}

{% block extend_head %}
<script>
    // Don't load if inside an iFrame
    if (window.frameElement) {
        window.parent.document.dispatchEvent(new CustomEvent('warning-toast', {
            "detail": {
                title: "Authentication Required",
                message: "You do not have permission to access this page.",
                timeout: 15000,
            }
        }))
        window.stop();
    }
</script>
{% endblock %}

{% block title %}
<title>Sign In</title>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'conreq/sign_in.css' %}">
<div class="default-box-header">
    <img src="{% static 'conreq/images/logo.png' %}" class="logo">
</div>

<form id="sign-in-form" method="post" action="">
    {% csrf_token %}

    {{ form.non_field_errors }}
    <input placeholder="Username" autocapitalize="none" autocomplete="username" autofocus="" id="id_username"
        maxlength="150" name="username" required="" type="text" value="{{ form.data.username }}">

    <input placeholder="Password" autocapitalize="none" autocomplete="current-password" id="id_password" name="password"
        required="" type="password">

    <input type="submit" value="Sign In">
    <input type="hidden" name="next" value="{{ next }}">
</form>

<div class="forgot-password">
    <a href="{% url 'password_reset' %}">Forgot Password</a>
</div>
{% endblock %}
