{% load solo_tags %}
{% get_solo 'server_settings.ConreqConfig' as server_settings %}

{% include "primary/loading_animation.html" %}
<div id="modal-content" class="modal-content content-preview">

    <div class="poster-container">
        <img src="{% firstof content.poster_path content.remotePoster %}" alt="" class="poster box-shadow">
    </div>

    <div class="grid-modal-right">
        <div class="modal-header mini">
            <div class="modal-header-btn-container">
                {% if content.content_type == "tv" %}
                <i class="fas fa-exclamation-circle report-selection-modal-btn" data-tmdb-id="{{content.id}}"
                    data-content-type="tv" data-modal-url="{% url 'more_info:series_modal' %}"></i>
                {% elif content.content_type == "movie" %}
                <i class="fas fa-exclamation-circle report-modal-btn" data-tmdb-id="{{content.id}}"
                    data-content-type="movie" data-modal-url="{% url 'issue_reporting:report_issue_modal' %}"></i>
                {% endif %}
            </div>
            <div class="modal-header-btn-container">
                <a href="#{% url 'more_info:main' %}?tmdb_id={{content.id}}&content_type={{content.content_type}}">
                    <i class="fas fa-expand"></i>
                </a>
            </div>
            <div class="modal-header-btn-container" data-dismiss="modal" aria-label="Close">
                <i class="fas fa-window-close"></i>
            </div>
        </div>

        <div class="info">
            <div class="title bold">{% firstof content.title content.name "Unknown" %}</div>
            <div class="mini-info-grid">
                <div class="modal-info-block">
                    <div class="modal-info bold"> Availability: </div>
                    <div class="modal-info">
                        {% if content.availability == available %} Available
                        <div class="inline-availablity-dot green"> </div>
                        {% elif content.availability == partial %} Partial
                        <div class="inline-availablity-dot yellow"> </div>
                        {% else %} Not Downloaded
                        <div class="inline-availablity-dot red"> </div>
                        {% endif %}
                    </div>
                </div>

                <div class="modal-info-block">
                    <div class="modal-info bold"> Content Type: </div>
                    <div class="modal-info">
                        {% if content.content_type == "tv" %}
                        Television
                        {% elif content.content_type == "movie" %}
                        Movie
                        {% endif %}
                    </div>
                </div>

                <div class="modal-info-block">
                    <div class="modal-info bold"> Requested: </div>
                    <div class="modal-info">
                        {{ requested|yesno:"Yes,No" }}
                    </div>
                </div>


                {% if content.name %}
                <div class="modal-info-block">
                    <div class="modal-info bold"> Last Aired: </div>
                    <div class="modal-info"> {% firstof content.last_air_date_formatted "Unknown" %} </div>
                </div>
                {% elif content.title %}
                <div class="modal-info-block">
                    <div class="modal-info bold"> Release Date: </div>
                    <div class="modal-info"> {% firstof content.release_date_formatted "Unknown" %} </div>
                </div>
                {% endif %}

                <div class="modal-info-block">
                    <div class="modal-info bold"> Release Status: </div>
                    <div class="modal-info"> {{content.status}} </div>
                </div>

                <div class="modal-info-block">
                    <div class="modal-info bold"> Score: </div>
                    <div class="modal-info"> {% firstof content.vote_average content.ratings.value "-" %} / 10
                    </div>
                </div>
            </div>
            <div class="description">{% firstof content.overview "No summary available."%}</div>
        </div>

        <div class="modal-footer">
            <!-- "Request" buttons -->
            {% if content.name and server_settings.sonarr_enabled and content.availability != available %}
            <div class="standard-btn series-modal-btn no-highlighting" data-content-type="tv"
                data-tmdb-id="{{content.id}}" data-modal-url="{% url 'more_info:series_modal' %}">
                <i class="fas fa-plus"></i>
                REQUEST
            </div>
            {% elif content.title and server_settings.radarr_enabled and content.availability != available %}
            <div class="standard-btn request-btn no-highlighting"
                data-request-url="{% url 'user_requests:request_content' %}" data-content-type="movie"
                data-tmdb-id="{{content.id}}">
                <i class="fas fa-plus"></i>
                REQUEST
            </div>
            {% endif %}

            <!-- "Available" and "View Episodes" buttons -->
            {% if content.name and content.availability == available %}
            <div class="standard-btn series-modal-btn no-highlighting available clickable" data-content-type="tv"
                data-tmdb-id="{{content.id}}" data-modal-url="{% url 'more_info:series_modal' %}">
                VIEW EPISODES </div>
            {% elif content.title and content.availability == available %}
            <div class="standard-btn no-highlighting available"> AVAILABLE </div>
            {% endif %}

        </div>
    </div>
</div