{% load static %}
{% load solo_tags %}
{% get_solo 'server_settings.ConreqConfig' as server_settings %}

<div class="spinner-border loading-animation" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div id="modal-content" class="modal-content content-preview">

    <div class="poster-container">
        <img src="{% firstof content.poster_path content.remotePoster %}" alt="" class="poster">
    </div>

    <div class="grid-modal-right">
        <div class="modal-header">
            <a
                href="#{% url 'more_info:main' %}?tmdb_id={{content.id}}&content_type={% if content.name %}tv{% elif content.title %}movie{% endif %}">
                <i class="fas fa-expand"></i>
            </a>
            <div data-dismiss="modal" aria-label="Close">
                <i class="fas fa-window-close"></i>
            </div>
        </div>

        <div class="info">
            <div class="title bold">{% firstof content.title content.name "Unknown" %}</div>
            <div class="mini-info-grid">
                <div class="modal-info-block">
                    <div class="modal-info bold"> Availability: </div>
                    <div class="modal-info">
                        {% if content.conreqStatus == available %} Available
                        <div class="inline-availablity-dot green"> </div>
                        {% elif content.conreqStatus == partial %} Partial
                        <div class="inline-availablity-dot yellow"> </div>
                        {% else %} Not Downloaded
                        <div class="inline-availablity-dot red"> </div>
                        {% endif %}
                    </div>
                </div>

                <div class="modal-info-block">
                    <div class="modal-info bold"> Content Type: </div>
                    <div class="modal-info">
                        {% if content.name %}
                        Television
                        {% elif content.title %}
                        Movie
                        {% endif %}
                    </div>
                </div>

                <div class="modal-info-block">
                    <div class="modal-info bold"> Request Status: </div>
                    <div class="modal-info"> Not Requested </div>
                </div>


                {% if content.name %}
                <div class="modal-info-block">
                    <div class="modal-info bold"> Last Aired: </div>
                    <div class="modal-info"> {% firstof content.last_air_date_formatted "Unknown" %} </div>
                </div>
                {% elif content.title %}
                <div class="modal-info-block">
                    <div class="modal-info bold"> Release Date: </div>
                    <div class="modal-info"> {% firstof content.release_date_formatted "Unknown" %} </div>
                </div>
                {% endif %}

                <div class="modal-info-block">
                    <div class="modal-info bold"> Release Status: </div>
                    <div class="modal-info"> {{content.status}} </div>
                </div>

                <div class="modal-info-block">
                    <div class="modal-info bold"> Score: </div>
                    <div class="modal-info"> {% firstof content.vote_average content.ratings.value "-" %} / 10
                    </div>
                </div>
            </div>
            <div class="description">{% firstof content.overview "No summary available."%}</div>
        </div>

        <div class="modal-footer">
            {% if content.name and server_settings.sonarr_enabled and content.conreqStatus != available %}
            <div class="conreq-button series-modal-button no-highlighting" data-content-type="tv"
                data-tmdb-id="{{content.id}}" data-modal-url="{% url 'more_info:series_modal' %}">
                <i class="fas fa-plus"></i>
                REQUEST
            </div>
            {% elif content.title and server_settings.radarr_enabled and content.conreqStatus != available %}
            <div class="conreq-button request-button no-highlighting"
                data-request-url="{% url 'user_requests:request_content' %}" data-content-type="movie"
                data-tmdb-id="{{content.id}}">
                <i class="fas fa-plus"></i>
                REQUEST
            </div>
            {% endif %}

        </div>
    </div>
</div