{% include "primary/loading_animation.html" %}
<div id="modal-content" class="modal-content">
    <div class="modal-header">
        <div class="modal-header-btn-container" data-dismiss="modal" aria-label="Close">
            <i title="Close" class="fas fa-window-close clickable"></i>
        </div>
        <div class="title">SELECT FILTER</div>
    </div>
    <div class="modal-body filter">

        <!-- Filtering toggles -->
        <div class="simple-filter-toggle-container">
            <div class="pretty p-default p-round p-fill p-smooth">
                <input type="radio" class="include-anime" name="anime-toggle" checked>
                <div class="state">
                    <label>Include Anime</label>
                </div>
            </div>

            <div class="pretty p-default p-round p-fill p-smooth">
                <input type="radio" class="anime-only" name="anime-toggle">
                <div class="state">
                    <label>Anime Only</label>
                </div>
            </div>

            <div class="pretty p-default p-round p-fill p-smooth">
                <input type="radio" class="no-anime" name="anime-toggle">
                <div class="state">
                    <label>No Anime</label>
                </div>
            </div>
        </div>

        <!-- Filtering options -->
        <div class="simple-filter-container">
            <!-- TV Filters -->
            {% if content_type == "tv" %}
            {% for filter_name in tv_filters %}
            <a class="simple-filter-btn clickable no-highlighting"
                data-href="#{% url 'discover:tv' %}?filter={{filter_name|slugify}}">
                {{filter_name|upper}}
            </a>
            {% endfor %}

            <!-- Movie Filters -->
            {% elif content_type == "movie" %}
            {% for filter_name in movie_filters %}
            <a class="simple-filter-btn clickable no-highlighting"
                data-href="#{% url 'discover:movies' %}?filter={{filter_name|slugify}}">
                {{filter_name|upper}}
            </a>
            {% endfor %}

            <!-- Combined Filters -->
            {% else %}
            {% for filter_name in combined_filters %}
            <a class="simple-filter-btn clickable no-highlighting"
                data-href="#{% url 'discover:all' %}?filter={{filter_name|slugify}}">
                {{filter_name|upper}}
            </a>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="modal-footer">
        <div class="standard-btn filter-btn no-highlighting clickable"
            data-request-url="{% url 'user_requests:request_content' %}" data-content-type="tv"
            data-tvdb-id="{{tvdb_id}}">
            <i class="fas fa-sliders-h"></i>
            ADVANCED
        </div>
    </div>
</div>