{% load static %}

{% include "primary/loading_animation.html" %}
<div id="modal-content" class="modal-content">
    <div class="modal-header">
        <div class="modal-header-btn-container" data-dismiss="modal" aria-label="Close">
            <i class="fas fa-window-close"></i>
        </div>
        <div class="title">SELECT ISSUES</div>
    </div>

    <div class="modal-body">
        {% for issue, resolution in issues %}
        <div id="{{ forloop.counter0 }}" class="row-container no-highlighting">
            <div class="checkbox-container">
                <div class="pretty p-icon p-curve p-smooth p-jelly">
                    <input type="checkbox" class="checkbox" />
                    <div class="state">
                        <i class="icon fas fa-check"></i>
                        <label></label>
                    </div>
                </div>
            </div>
            <div class="row-title-container">
                <div class="row-title clickable">
                    {{issue}}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="modal-footer">
        <div class="conreq-button report-button no-highlighting"
            data-request-url="{% url 'issue_reporting:report_issue' %}" data-content-type="tv"
            data-tvdb-id="{{tvdb_id}}">
            REPORT ISSUE
        </div>
    </div>
</div>