.btn {
	border: none;
	box-shadow: none !important;
}

.btn.btn-primary {
	background: #258a6d;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
	background: #249e7b;
}

.btn.btn-primary:active {
	background: #28b18b;
}
