/* Modal Container */

.modal-open .modal {
	overflow: hidden;
}

.modal-content {
	background: #3f3f3f;
}

@media (min-width: 1200px) {
	.modal-lg,
	.modal-xl {
		--bs-modal-width: 1000px;
	}
}

/* Modal Body */

.modal-body {
	background: #252525;
	color: #fff;
	padding: 0;
	line-height: 1.25;
	max-height: 50vh;
	overflow-y: auto;
}

.modal-body > .loading {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 65px;
}

/* Modal Header */

.modal-header {
	border: none;
	align-items: center;
	justify-content: space-between;
	flex-direction: row-reverse;
}

.modal-header .fas {
	color: rgba(255, 255, 255, 0.7);
	font-size: 20px;
	transition: color 0.3s ease;
}

.modal-header-btns {
	margin-left: 12px;
}

.modal-header-btns i:before {
	margin-left: 13px;
}

.modal-header .fas:hover {
	color: #fff;
}

.modal-header .title {
	color: #fff;
	font-weight: 700;
	line-height: 1;
	overflow-wrap: anywhere;
}

/* Modal Footer */

.modal-footer {
	border: none;
}

/* Fullscreen large modals for mobile */
@media (max-width: 575px) {
	.modal-dialog.modal-lg {
		margin: 0;
		width: 100vw;
		max-width: none;
		height: 100%;
	}
	.modal-dialog.modal-lg .modal-content {
		min-height: 100%;
		border-radius: 0;
	}

	.modal-dialog.modal-lg .modal-body {
		max-height: 100%;
		border-radius: 0;
	}
}

/* Replicating bootstrap animations */
.modal.show .modal-dialog {
	transform: initial;
}

.modal.fade .modal-dialog {
	-webkit-animation: modal 0.5s ease-out;
	animation: modal 0.5s ease-out;
}

@-webkit-keyframes modal {
	0% {
		transform: translate(0, 50px);
		opacity: 0;
	}
	33% {
		transform: translate(0, 50px);
		opacity: 0;
	}
	100% {
		transform: translate(0, 0px);
		opacity: 1;
	}
}
@keyframes modal {
	0% {
		transform: translate(0, 50px);
		opacity: 0;
	}
	33% {
		transform: translate(0, 50px);
		opacity: 0;
	}
	100% {
		transform: translate(0, 0px);
		opacity: 1;
	}
}

.modal-backdrop.show {
	-webkit-animation: modal-backdrop 0.5s ease-out;
	animation: modal-backdrop 0.5s ease-out;
}

@-webkit-keyframes modal-backdrop {
	0% {
		opacity: 0;
	}
	100% {
		opacity: var(--bs-backdrop-opacity);
	}
}

@keyframes modal-backdrop {
	0% {
		opacity: 0;
	}
	100% {
		opacity: var(--bs-backdrop-opacity);
	}
}
