.welcome {
	text-align: center;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.welcome button {
	width: 200px;
	margin: 0 auto;
	margin-top: 30px;
	height: 50px;
}

.welcome h1,
.welcome p,
.welcome button {
	z-index: 6;
}
