{% load static %}
{% load idom %}
{% load bootstrap %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_5 %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/webfonts/fa-solid-900.woff2"
        as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'conreq/form.css' %}">
    <style>
        .inline-block {
            display: inline-block;
        }

    </style>
    {% endblock %}
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="{% firstof column_class 'col-12' %}">

                <div class="mt-5"></div>
                <h3>Invite Code Successfully Created!</h3>

                <div class="textinput textInput form-control" id="invite_code" style="
                    display: flex;
                    align-items: center;
                    justify-content: space-between;" onclick="copy_to_clipboard()">
                    <div id="clipboard"></div>
                    <i class="fas fa-solid fa-clipboard"></i>
                </div>

                <div class="mt-4"></div>
                {% component 'conreq._core.user_management.components.send_email_invite_btn' class='inline-block' invite_code=invite_code %}
                <a href="{% url 'idom:view_to_component' 'conreq._core.user_management.views.CreateInvite' %}">
                    <button type="button" class="btn btn-light">
                        <i class="fas fa-plus"></i>
                        Create More
                    </button>
                </a>
            </div>
        </div>
    </div>

    <script>
        document.querySelector("#clipboard").textContent = location.origin + "{% url 'sign_up_invite' invite_code %}";

        function copy_to_clipboard() {
            var copy_text = document.querySelector("#clipboard").textContent;
            navigator.clipboard.writeText(copy_text).then(() => {
                window.parent.document.dispatchEvent(new CustomEvent('success-toast', {
                    "detail": {
                        title: "Success",
                        message: "Invite link has been copied to your clipboard."
                    }
                }));
            }, () => {
                window.parent.document.dispatchEvent(new CustomEvent('warning-toast', {
                    "detail": {
                        title: "Warning",
                        message: "Could not copy invite link to your clipboard."
                    }
                }));
            });
        }

        if (window.frameElement) {
            window.parent.document.dispatchEvent(new CustomEvent('success-toast', {
                "detail": {
                    title: "Saved"
                }
            }));
        }
    </script>
</body>

</html>
