{% load static %} {% if card.tmdbCard %} {% include "cards/tmdb.html" %} {% else %}
<div class="masonry-item">
    <div class="poster-container no-highlighting {{card.contentType}}">
        <i class="fas fa-ellipsis-v clickable"></i>
        <i class="fas fa-angle-down clickable"></i>
        <div class="description-tint"></div>
        <a
            href="#{% url 'more_info:main' %}?{% if card.tmdbId %}tmdb_id={{card.tmdbId}}{% elif card.tvdbId %}tvdb_id={{card.tvdbId}}{% endif %}&content_type={{card.contentType}}">

            {% if card.conreqStatus == available %}
            <div class="availablity-text">Available {% if card.name %}<i class="fas fa-tv"></i>{% elif card.title %}<i
                    class="fas fa-video"></i>{% endif %} </div>
            {% elif card.conreqStatus == partial %}
            <div class="availablity-text">Partially Available {% if card.name %}<i class="fas fa-tv"></i>
                {% elif card.title %}<i class="fas fa-video"></i>{% endif %} </div>
            {% else %}
            <div class="availablity-text">Requestable {% if card.name %}<i class="fas fa-tv"></i>{% elif card.title %}
                <i class="fas fa-video"></i>{% endif %}
            </div>
            {% endif %}

            <img src="{% static 'images/transparent.png' %}" data-src="{{card.remotePoster}}" class="poster lazy" />
        </a>

        <div class="poster-description-container">
            <div class="poster-title">{% firstof card.title "Unknown" %}</div>
            {% if card.conreqStatus == available %}
            <div class="availablity-dot green"></div>
            {% elif card.conreqStatus == partial %}
            <div class="availablity-dot yellow"></div>
            {% else %}
            <div class="availablity-dot red"></div>
            {% endif %}
            <div class="poster-description">{{card.overview}}</div>
        </div>
    </div>
</div>
{% endif %}