.settings-group-title {
	font-size: 21px;
	line-height: 1.5;
}

.settings-group {
	width: 100%;
	margin-bottom: 30px;
}

.settings-input-group {
	display: grid;
	flex-direction: column;
	margin: 0;
	grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
	-moz-column-gap: 20px;
	column-gap: 50px;
}

.settings-item-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 70px;
}

.text-input-title {
	font-weight: 500;
	line-height: 1.5;
}

.settings-item.text-display-only {
	display: flex;
	align-items: center;
	height: 100%;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 16px;
}

.settings-item.text-display-only .settings-item-text {
	width: calc(100% - 15px);
}

.settings-item .fas {
	margin-left: 15px;
	font-size: 18px;
}

.settings-item .fas:first {
	margin-left: auto;
}

input[type="text"]:not(.content-search) {
	width: 100%;
}

.settings-item.toggler label {
	font-weight: 500;
}

.check-update-btn {
	align-self: center;
	width: auto;
	margin: auto;
}

.settings-item-details.info {
	word-wrap: break-word;
}

.settings-item-group.toggler {
	min-height: 45px;
}
