.viewport-container-loading,
.viewport-container,
.viewport-container-top {
	position: absolute;
	left: var(--sidebar-width);
	height: calc(100% - var(--navbar-height));
	overflow-x: hidden;
	overflow-y: auto;
	overflow-y: overlay;
	width: calc(100vw - var(--viewport-left));
	padding: var(--viewport-padding);
	padding-bottom: 0;
	display: inline-block;
	color: rgb(255 255 255 / 0.75);
}

.viewport {
	padding-bottom: var(--viewport-padding);
	min-height: -webkit-fit-content;
	min-height: -moz-fit-content;
	min-height: fit-content;
	margin: auto;
	transition: opacity 1.5s ease;
}

.viewport-container-loading {
	display: inline-flex;
}

@media only screen and (max-width: 800px) {
	:root {
		--viewport-left: 0;
		--viewport-padding: 15px;
		--primary-font-size: 16px;
	}
	::-webkit-scrollbar {
		display: none;
	}
	.viewport-container-loading,
	.viewport-container,
	.viewport-container-top {
		z-index: 4;
		width: 100vw;
		left: 0px;
	}
}
