@media only screen and (max-width: 1150px) {
     :root {
        /* Videos */
        --video-height: calc(var(--video-width) * 0.5625);
        --video-width: 30vw;
        /* Artwork */
        --artwork-height: calc(var(--video-width) * 0.5625);
        --artwork-width: 30vw;
    }
}

@media only screen and (max-width: 880px) {
     :root {
        /* More Info Grid */
        --left-column-width: 175px;
    }
}

@media only screen and (max-width: 800px) {
     :root {
        /* Sidebar */
        --sidebar-width: 100%;
        --sidebar-top: 0;
        /* Navbar */
        --searchbar-width: 70%;
        /* Viewport */
        --viewport-left: 0;
        --viewport-padding: 15px;
        /* Posters */
        --poster-width: calc(25vw - var(--viewport-total-padding));
        /* Videos */
        --video-height: calc(var(--video-width) * 0.5625);
        --video-width: 70vw;
        /* Artwork */
        --artwork-height: calc(var(--video-width) * 0.5625);
        --artwork-width: 70vw;
    }
    .navbar {
        z-index: 2;
        display: flex;
        flex-wrap: nowrap;
    }
    .navbar-brand-container {
        display: none;
    }
    .searchbar {
        left: 0px;
        position: relative;
        margin: auto 0;
    }
    .username-container {
        margin: calc((var(--navbar-height) - 35px)/2) 0;
        position: relative;
        padding-right: 0;
        color: rgba(255, 255, 255, .75);
    }
    .sidebar {
        top: var(--navbar-height);
        z-index: 9999;
        height: calc(100vh - var(--navbar-height));
        max-height: calc(100vh - var(--navbar-height));
        min-height: calc(100vh - var(--navbar-height));
        display: none !important;
    }
    .sidebar.collapse:not(.show) {
        display: none !important;
    }
    .sidebar.collapsing,
    .sidebar.show {
        display: block !important;
    }
    .viewport-container {
        z-index: 4;
    }
    .navbar .navbar-toggler {
        display: inline-block;
        border: none;
        padding-left: 0;
        padding-right: 0;
        background: none !important;
    }
    .navbar .username.full-name {
        display: none;
    }
    .navbar .username.first-letter {
        display: inline-block;
    }
    .navbar .username-container {
        border-radius: 50%;
        background: var(--accent-color);
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px
    }
    .username-container .fa-caret-down {
        padding-left: 2px;
    }
    .navpages-page.suboption {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    /* More Info */
    .moreInfo-grid {
        display: flex;
        flex-direction: column;
        width: calc(100vw - var(--viewport-padding) * 2);
    }
    .moreInfo-poster-container {
        margin: 0 auto;
        width: 55vw;
    }
    .moreInfo-poster-container img {
        height: calc(55vw * 1.5);
    }
    .moreInfo-grid .request-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 999;
        border-radius: 500px;
    }
    .tns-controls {
        display: none;
    }
    .main-title,
    .main-rating {
        display: none;
        margin: 0;
        padding: 0;
    }
    .moreInfo-main-info {
        height: 0;
    }
    .moreInfo {
        padding-bottom: 60px;
    }
}

@media only screen and (max-width: 600px) {
     :root {
        /* Posters */
        --poster-width: calc(33vw - var(--viewport-total-padding));
    }
}

@media only screen and (max-width: 450px) {
     :root {
        /* Posters */
        --poster-width: calc(45vw - var(--viewport-total-padding));
    }
}