.poster-container .fa-angle-down {
    padding-top: 0px;
    color: rgba(255, 255, 255, 0.7);
    -webkit-filter: drop-shadow(0 0 2px #000000);
    filter: drop-shadow(0 0 2px #000000);
}

.poster-container .fa-angle-down:hover {
    background: transparent;
    color: rgba(255, 255, 255, 1);
}

.poster-description-container {
    display: none;
}

.cast.poster-container {
    height: auto;
}