.poster-container .fa-angle-down {
    padding-top: 0px;
    color: rgb(255 255 255 / 85%);
    -webkit-filter: drop-shadow(0 0 6px #000000);
    filter: drop-shadow(0 0 6px #000000);
    background: linear-gradient(360deg, #00000030, transparent);
}

.poster-container .fa-angle-down:hover {
    color: rgba(255, 255, 255, 1);
    background: linear-gradient(360deg, #00000030, transparent);
}

.poster-description-container {
    display: none;
}

.cast.poster-container {
    height: auto;
}

.availablity-text{
    display: none;
}