{% extends 'conreq/centered_box.html' %}
{% load static %}
{% load conreq %}

{% block extend_head %}
<script>
    // Don't load if inside an iFrame
    if (window.frameElement) {
        window.parent.document.dispatchEvent(new CustomEvent('warning-toast', {
            "detail": {
                title: "Network Error",
                message: "Could not connect to Conreq.",
                timeout: 15000,
            }
        }))
        window.stop();
    }
</script>
{% endblock %}

{% block title %}Offline{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'conreq/offline.css' %}">
<p>Could not connect to {% server_name %}.</p>
<p>Check your network connection or try again later.</p>
{% endblock %}
