{% load static %}
<!-- Path to site.webmanifest -->
<link rel="manifest" href="{{ base_url }}site.webmanifest" crossorigin="use-credentials">

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="{{ pwa.app_name }}">

<!-- Chrome for Android theme color -->
<meta name="theme-color" content="{{ pwa.app_theme_color }}">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="{{ pwa.app_name }}">
<meta name="apple-mobile-web-app-status-bar-style" content="{{ pwa.app_status_bar_color }}">

<!-- Android and iOS icons -->
{% for icon in pwa.app_icons_apple %}
<link rel="apple-touch-icon" href="{{ icon.src }}" sizes="{{ icon.sizes }}">
{% endfor %}
{% for icon in pwa.app_icons %}
<link rel="icon" href="{{ icon.src }}" sizes="{{ icon.sizes }}" purpose="{{ icon.purpose }}">
{% endfor %}

<!-- Splash screen icons -->
{% for splash in pwa.app_splash_screen %}
<link href="{{ splash.src }}" media="{{ splash.media }}" rel="apple-touch-startup-image" />
{% endfor %}

<!-- Tile for Win8 -->
<meta name="msapplication-TileColor" content="{{ pwa.app_background_color }}">
<meta name="msapplication-TileImage" content="{% static 'icons/standard.png' %}">


<script type="text/javascript">
    // Initialize the service worker
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('{{ base_url|escapejs }}serviceworker.js', {
            scope: '{{ pwa.app_scope|escapejs }}'
        }).then(function (registration) {
            // Registration successful
            {% if pwa.app_debug_mode %}
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
            {% endif %}
        }, function (err) {
            // Registration failed
            {% if pwa.app_debug_mode %}
            console.log('ServiceWorker registration failed: ', err);
            {% endif %}
        });
    }
</script>