{% extends 'conreq/centered_box.html' %}
{% load static %}


{% block title %}
{% if validLink %}
Password Reset
{% else %}
Invalid Password Reset
{% endif %}
{% endblock %}


{% block content %}
<!-- TODO: This shouldn't be sign_in.css -->
<link rel="stylesheet" href="{% static 'conreq/sign_in.css' %}" crossorigin="anonymous">
<div class="default-box-header">
    <img src="{% static 'images/conreq_logo.png' %}" class="logo">
</div>

{% if validlink %}
<h1 class="centered">PASSWORD RESET</h1>
<h2 class="centered">Please enter your new password.</h2>
<form method="post" action="">
    {% csrf_token %}
    {{ form.new_password1.errors }}
    {{ form.new_password1 }}
    {{ form.new_password2.errors }}
    {{ form.new_password2 }}
    <input type="submit" value="Change my password" />
</form>
{% else %}
<h1 class="centered">INVALID PASSWORD RESET</h1>
<h2 class="centered">Key used or expired.</h2>
<p>
    The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
</p>
{% endif %}
{% endblock %}
