{% load solo_tags %}
{% load djversion_tags %}
{% load static %}
{% get_solo 'server_settings.ServerConfig' as server_config %}
{% project_version as VERSION %}
{% csrf_token %}
<input class="page-name" type="hidden" value="Server Settings">

<div class="viewport server settings">
    <!-- Conreq Server Settings Group -->
    <div class="settings-group">
        <div class="settings-group-title bold">Basic Configuration</div>
        <div class="settings-input-group">
            <div class="settings-item-group">
                <div class="text-input-title">API Key</div>
                <div class="text-input-container">
                    <div class="settings-item text-display-only">
                        <div class="settings-item-text ellipsis" id="conreq-api-key">
                            Under Development
                        </div>
                    </div>
                </div>
            </div>
            <div class="settings-item-group">
                <div class="text-input-title">Custom CSS</div>
                <div class="text-input-container">
                    <input type="text" class="settings-item small-text-input admin"
                        placeholder="ex. /static/my_styles.css" autocomplete="off" autocorrect="off"
                        autocapitalize="off" spellcheck="false" data-setting-name="Conreq Custom CSS"
                        value="{{ server_config.custom_css }}" />
                </div>
            </div>
            <div class="settings-item-group">
                <div class="text-input-title">Custom JavaScript</div>
                <div class="text-input-container">
                    <input type="text" class="settings-item small-text-input admin"
                        placeholder="ex. /static/my_scripts.js" autocomplete="off" autocorrect="off"
                        autocapitalize="off" spellcheck="false" data-setting-name="Conreq Custom JS"
                        value="{{ server_config.custom_js }}" />
                </div>
            </div>
        </div>
    </div>

    <!-- About Conreq -->
    <div class="settings-group">
        <div class="settings-group-title bold">About Conreq</div>
        <div class="settings-input-group">
            <div class="settings-item-group info">
                <div class="text-input-title info">System Information</div>
                <div class="settings-item-details info">{{ os_platform }}</div>
            </div>
            <div class="settings-item-group info">
                <div class="text-input-title info">Version</div>
                <div class="settings-item-details info">{{ VERSION }}</div>
            </div>
        </div>
    </div>

</div>
