a:hover,
a:focus {
	color: #44a9ff;
}

table > thead {
	background: var(--accent-color);
}

table > thead a,
table > thead th,
table > thead td,
table > thead th:hover,
table > thead td:hover {
	color: rgba(255, 255, 255, 0.85);
}

table > thead a:hover,
table > thead a:focus {
	color: #fff;
}

.table,
table {
	margin-bottom: 0;
	background: #fff;
	border-bottom: none;
	border-radius: 8px;
	color: #333;
	margin-bottom: 20px;
}

th:first-of-type {
	border-top-left-radius: 5px;
}

th:last-of-type {
	border-top-right-radius: 5px;
}

.pagination {
	margin-bottom: 0;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
	vertical-align: middle;
}

.table > thead > tr > td,
.table > thead > tr > th {
	padding: 15px 15px;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th {
	padding: 10px 15px;
}

tr.odd {
	background: rgba(0, 0, 0, 0.02);
}
