{% load static %}
{% load conreq_tags %}
<nav id="sidebar" class="sidebar no-highlighting collapsed" data-aos="fade-right" data-aos-duration="1000">
    <div class="sidebar-user clickable manage-user-btn" data-modal-url="{% url 'manage_users:manage_modal' %}"
        data-username="{{user.username}}">
        <div class=sidebar-profile-pic>
            <i class="fas fa-user"></i>
        </div>
        <div class="username">
            <div class="ellipsis">{{user.get_username}}</div>
        </div>
    </div>

    <div id="navpages" class="navpages">
        <!-- User Tab Group -->
        <div class="nav-group clickable" data-bs-toggle="collapse" data-bs-target="#user-tabs" aria-expanded="true"
            aria-controls="user-tabs">
            <div class="group-name ellipsis">
                <div class="group-icon">
                    <i class="fas fa-users icon-left"></i>
                </div>
                User
            </div>
            <i id="user-fa" class="fas fa-caret-up icon-right" title="Collapse Group"></i>
        </div>
        <div class="tabs-collapse collapse show" id="user-tabs">
            <div class="tabs-indicator"></div>
            <div class="tabs">
                <div class="nav-tab">
                    <div class="ellipsis manage-user-btn clickable"
                        data-modal-url="{% url 'manage_users:manage_modal' %}" data-username="{{user.username}}">
                        Settings
                    </div>
                </div>
                <div class="nav-tab">
                    <a href="{% url 'sign_out' %}" class="ellipsis">
                        Sign Out
                    </a>
                </div>
            </div>
        </div>

        <!-- Admin Tab Group -->
        {% if user.is_staff %}
        <div class="nav-group clickable" data-bs-toggle="collapse" data-bs-target="#admin-tabs" aria-expanded="true"
            aria-controls="admin-tabs">
            <div class="group-name ellipsis">
                <div class="group-icon">
                    <i class="fas fa-cogs icon-left"></i>
                </div>
                Admin
            </div>
            <i id="admin-fa" class="fas fa-caret-up icon-right" title="Collapse Group"></i>
        </div>
        <div class="tabs-collapse collapse show" id="admin-tabs">
            <div class="tabs-indicator"></div>
            <div class="tabs">
                <div class="nav-tab">
                    <a href="{% viewport_url 'manage_users:main' %}" class="ellipsis">
                        Manage Users
                    </a>
                </div>
                <div class="nav-tab">
                    <a href="{% viewport_url 'server_settings:main' %}" class="ellipsis">
                        Server Config
                    </a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if user.is_staff and debug %}
        <div class="nav-group clickable" data-bs-toggle="collapse" data-bs-target="#debug-tabs" aria-expanded="true"
            aria-controls="admin-tabs">
            <div class="group-name ellipsis">
                <div class="group-icon">
                    <i class="fas fa-spider icon-left"></i>
                </div>
                Debug
            </div>
            <i id="admin-fa" class="fas fa-caret-up icon-right" title="Collapse Group"></i>
        </div>
        <div class="tabs-collapse collapse show" id="debug-tabs">
            <div class="tabs-indicator"></div>
            <div class="tabs">
                <div class="nav-tab">
                    <a href="{% url 'silk:summary' %}" class="ellipsis">
                        Performance
                    </a>
                </div>
                <div class="nav-tab">
                    <a href="{% url 'admin:index' %}" class="ellipsis">
                        Database
                    </a>
                </div>
                <div class="nav-tab">
                    <a href="{% url 'django-admindocs-docroot' %}" class="ellipsis">
                        Code Outline
                    </a>
                </div>
                <div class="nav-tab">
                    <a href="{% url 'schema-swagger-ui' %}" class="ellipsis">
                        API Docs
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</nav>