{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "primary/head_content_slim.html" %}
    <link rel="stylesheet" href="{% static 'css/initialization.css' %}" crossorigin="anonymous" />
</head>

<body>
    <div class="main">

        <div class="default-box">
            <div class="default-box-header">
                <img src="{% static 'images/conreq_logo.png' %}" alt="conreq logo" class="default-box-brand">
            </div>
            <form id="initialization-form" method="post" action="{% url 'homepage:index' %}">
                {% csrf_token %}
                <h1>FIRST TIME SETUP</h1>


                <div class="tab" style="display: flex;">
                    <h2>Create your admin account</h2>
                    {{ form.email.errors }}
                    <input placeholder="Email" oninput="this.className = ''" autocomplete="off" autocorrect="off"
                        autocapitalize="off" spellcheck="false" type="email" required="" name="email"
                        value="{{ form.data.email }}">

                    {{ form.username.errors }}
                    <input placeholder="Username" oninput="this.className = ''" autocomplete="off" autocorrect="off"
                        autocapitalize="off" spellcheck="false" type="text" required="" name="username"
                        autocomplete="username" maxlength="150" value="{{ form.data.username }}">

                    {{ form.password2.errors }}
                    <input placeholder="Password" oninput="this.className = ''" autocomplete="off" autocorrect="off"
                        autocapitalize="off" spellcheck="false" type="password" required="" name="password1"
                        autocomplete="current-password" id="password" value="{{ form.data.password1 }}">

                    <input placeholder="Confirm Password" oninput="this.className = ''" autocomplete="off"
                        autocorrect="off" autocapitalize="off" spellcheck="false" type="password" required=""
                        id="confirm_password" name="password2" value="{{ form.data.password2 }}">
                </div>


                <div class="tab">
                    <h2>Set up Sonarr (optional)</h2>

                    {{ form.sonarr_url.errors }}
                    <input placeholder="Sonarr URL (ex. http://192.168.86.50:8989)" oninput="this.className = ''"
                        autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="url"
                        name="sonarr_url" value="{{ form.data.sonarr_url }}">

                    {{ form.sonarr_api_key.errors }}
                    <input placeholder="Sonarr API Key" oninput="this.className = ''" autocomplete="off"
                        autocorrect="off" autocapitalize="off" spellcheck="false" type="text" name="sonarr_api_key"
                        value="{{ form.data.sonarr_api_key }}">
                </div>


                <div class="tab">
                    <h2>Set up Radarr (optional)</h2>

                    {{ form.radarr_url.errors }}
                    <input placeholder="Radarr URL (ex. http://192.168.86.50:7878)" oninput="this.className = ''"
                        autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="url"
                        name="radarr_url" value="{{ form.data.radarr_url }}">

                    {{ form.radarr_api_key.errors }}
                    <input placeholder="Radarr API Key" oninput="this.className = ''" autocomplete="off"
                        autocorrect="off" autocapitalize="off" spellcheck="false" type="text" name="radarr_api_key"
                        value="{{ form.data.radarr_api_key }}">
                </div>


                <!-- Previous and next (or submit) buttons -->
                <div id="box-nav-container">
                    <button type="button" id="prevBtn" onclick="previousTab()"
                        style="visibility: hidden;">Previous</button>
                    <button type="button" id="nextBtn" onclick="nextTab()">Next</button>
                </div>

                <!-- Circles which indicates the step of the form -->
                <div style="text-align:center;margin-top:40px;">
                    <span class="step active"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                </div>

            </form>
        </div>
        <div class="default-bg">
            <div class="default-bg-tint">
            </div>
        </div>


        {% if form.errors %}
        <script>
            conreq_submission_failed_toast_message();
        </script>
        {% endif %}
        <script src="{% static 'js/initialization.js' %}" crossorigin="anonymous"></script>
    </div>
</body>

</html>