.viewport-container.app-store {
	display: flex;
	flex-direction: column;
}

/* Nav Region */

.nav-btn {
	border: 1px #ffffff61 solid !important;
	border-radius: 80px;
}

.nav-region {
	margin-top: 30px;
	padding: 0 var(--viewport-padding);
	display: flex;
}

.nav-region .btn {
	margin-right: 15px;
}

.nav-region .btn.return {
	margin-left: auto;
}

.dropdown-menu li {
	position: relative;
}

.dropdown-menu .dropdown-submenu {
	display: none;
	position: absolute;
	left: 100%;
	top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
	right: 100%;
	left: auto;
}

.dropdown-menu > li:hover > .dropdown-submenu {
	display: block;
}

.fade-in {
	transition: opacity 1.25s ease;
}
