.viewport-container.app-store {
	display: flex;
	flex-direction: row;
	padding-left: var(--viewport-padding);
}

.viewport-container.app-store .nav-region {
	min-width: -webkit-fit-content;
	min-width: -moz-fit-content;
	min-width: fit-content;
	padding: var(--viewport-padding);
	background: rgb(0 0 0 / 07%);
	border-color: #ffffff17;
	border-width: 0 0 0 1px;
	margin-left: 3px;
	border-style: solid;
	box-shadow: var(--box-shadow);
	color: rgb(156 156 156);
	-webkit-animation: fade-in 2s ease;
	animation: fade-in 2s ease;
}

.viewport-container.app-store .nav-region ol {
	padding-left: 0;
}

.viewport-container.app-store .nav-region li {
	display: block;
	margin-bottom: 8px;
}

.viewport-container.app-store a.nav-sub-link {
	color: #878b8f;
}

.viewport-container.app-store a.nav-sub-link:hover,
.viewport-container.app-store a.nav-sub-link:focus {
	color: #a5a8ab;
}

.viewport-container.app-store a.nav-sub-link:active {
	color: #b8bbbd;
}

.spotlight-region {
	padding-top: var(--viewport-padding);
	overflow-y: auto;
}

.spotlight {
	margin-bottom: 35px;
}

.spotlight > .description {
	margin-bottom: 20px;
}

.spotlight > .card-stage {
	display: flex;
	flex-flow: row wrap;
	overflow: hidden;
	height: 225px;
	margin-bottom: 20px;
	align-content: flex-start;
}

.spotlight > .card-stage > .card {
	--border-radius: 8px;
	--border-size: 1px;
	--border-color: #606060;
	--card-bg: rgb(31 33 36 / 96%);
	color: rgb(255 255 255 / 65%);
	background: var(--card-bg);
	border-radius: var(--border-radius);
	border: 1px solid var(--border-color);
	height: 225px;
	width: 380px;
	padding: 20px;
	margin-right: 20px;
}

.spotlight > .card-stage > .card > .top {
	display: grid;
	grid-template-columns: auto 80px;
}

.spotlight > .card-stage > .card > .top > .text-region {
	margin-right: 5px;
}

.spotlight > .card-stage > .card > .top > .text-region > * {
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	overflow: hidden;
	padding-bottom: 2px;
}

.spotlight > .card-stage > .card > .top > .text-region > .card-title {
	margin-bottom: 5px;
}

.spotlight > .card-stage > .card > .top > .image {
	display: inline-block;
	position: relative;
	height: 80px;
	width: 80px;
	background: #6c757d;
}

.spotlight > .card-stage > .card > .btn-container {
	margin-bottom: 10px;
}

.spotlight > .card-stage > .card > .btn-container > .btn {
	margin-right: 5px;
}

.spotlight > .card-stage > .card > .description {
	padding-bottom: 2px;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	overflow: hidden;
	line-height: 1.2;
}

/* Spinny Colors */
/* Credits: https://codepen.io/MauriciAbad/pen/WNrpmPr */
@-webkit-keyframes spin {
	from {
		transform: translate(-50%, -50%) rotate(0);
	}

	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
@keyframes spin {
	from {
		transform: translate(-50%, -50%) rotate(0);
	}

	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.spotlight > .card-stage > .card.special {
	--border-bg: conic-gradient(var(--border-color), var(--accent-color));
	background: transparent;
	overflow: hidden;
	border: none;
}

.spotlight > .card-stage > .card.special::before {
	content: "";
	display: block;
	background: var(--border-bg);
	width: calc(100% * 1.41421356237);
	padding-bottom: calc(100% * 1.41421356237);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 100%;
	z-index: -2;
	-webkit-animation: spin 10s linear infinite;
	animation: spin 10s linear infinite;
}

.spotlight > .card-stage > .card.special::after {
	content: "";
	position: absolute;
	inset: var(--border-size);
	background: var(--card-bg);
	z-index: -1;
	border-radius: calc(var(--border-radius) - var(--border-size));
}
