.viewport-container.app-store {
	display: flex;
	flex-direction: row;
	padding-left: var(--viewport-padding);
	justify-content: space-between;
}

.viewport-container.app-store .nav-region {
	min-width: -webkit-fit-content;
	min-width: -moz-fit-content;
	min-width: fit-content;
	padding: var(--viewport-padding);
	background: rgb(0 0 0 / 07%);
	border-color: #ffffff17;
	border-width: 0 0 0 1px;
	margin-left: 2px;
	border-style: solid;
	box-shadow: -3px 0px 5px -1px rgb(0 0 0 / 20%),
		-6px 0 10px 0 rgb(0 0 0 / 14%);
	color: rgb(156 156 156);
	-webkit-animation: fade-in 2s ease;
	animation: fade-in 2s ease;
	z-index: 2;
}

.viewport-container.app-store .nav-region ol {
	padding-left: 0;
}

.viewport-container.app-store .nav-region li {
	display: block;
	margin-bottom: 8px;
}

.viewport-container.app-store a.nav-sub-link {
	color: #878b8f;
}

.viewport-container.app-store a.nav-sub-link:hover,
.viewport-container.app-store a.nav-sub-link:focus {
	color: #a5a8ab;
}

.viewport-container.app-store a.nav-sub-link:active {
	color: #b8bbbd;
}

.spotlight-region {
	padding-top: var(--viewport-padding);
	overflow-y: auto;
	overflow-y: overlay;
	width: 100%;
}

.spotlight {
	margin-bottom: 35px;
	background: linear-gradient(-90deg, #0000004d, transparent);
	padding: 5px 0;
}

.spotlight-head {
	margin-bottom: 7px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding-right: calc(var(--viewport-padding) - 7px);
}

.carousel-controls {
	font-size: 25px;
}

.carousel-controls > i {
	padding: 0 6px;
	margin: 0 2px;
}

.spotlight .card-stage {
	overflow: hidden;
	height: 225px;
	margin-bottom: 20px;
}

.spotlight .card-stage .carousel {
	display: flex;
	flex-flow: row;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

.spotlight .card-stage .card {
	--border-radius: 8px;
	--border-size: 1px;
	--border-color: #27464a;
	--card-bg: #161616;
	color: #fff;
	background: var(--card-bg);
	border-radius: var(--border-radius);
	border: var(--border-size) solid var(--border-color);
	height: 225px;
	width: 380px;
	padding: 20px;
	margin-right: 20px;
	display: inline-block;
	z-index: 1;
}

.fade-in {
	transition: opacity 1.25s ease;
}

.spotlight .card-stage .card .background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	opacity: 0.2;
	z-index: -1;
	overflow: hidden;
	border-radius: var(--border-radius);
	-webkit-filter: blur(3px);
	filter: blur(3px);
}

.spotlight .card-stage .card > .top {
	display: grid;
	grid-template-columns: auto 80px;
}

.spotlight .card-stage .card > .top > .text-region {
	margin-right: 5px;
}

.spotlight .card-stage .card > .top > .text-region > * {
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	overflow: hidden;
	padding-bottom: 2px;
}

.spotlight .card-stage .card > .top > .text-region > .card-title {
	margin-bottom: 5px;
}

.spotlight .card-stage .card > .top > .image {
	display: inline-block;
	position: relative;
	height: 80px;
	width: 80px;
	background: #6c757d;
}

.spotlight .card-stage .card > .btn-container {
	margin-bottom: 10px;
}

.spotlight .card-stage .card > .btn-container > .btn {
	margin-right: 5px;
}

.spotlight .card-stage .card > .description {
	padding-bottom: 2px;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	overflow: hidden;
	line-height: 1.2;
}

/* Spinny Colors */
/* Credits: https://codepen.io/MauriciAbad/pen/WNrpmPr */
@-webkit-keyframes spin {
	from {
		transform: translate(-50%, -50%) rotate(0);
	}

	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
@keyframes spin {
	from {
		transform: translate(-50%, -50%) rotate(0);
	}

	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.spotlight .card-stage .card.special {
	--animation-speed: 10s;
	--card-bg-animation: conic-gradient(#000000ab, #00000036);
	--border-color: #8b7234;
	overflow: hidden;
}

.spotlight .card-stage .card.special::before {
	content: "";
	background: var(--card-bg-animation);
	width: calc(100% * 1.41421356237);
	padding-bottom: calc(100% * 1.41421356237);
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: -2;
	-webkit-animation: spin var(--animation-speed) linear infinite;
	animation: spin var(--animation-speed) linear infinite;
}
