{% load static %}
{% load conreq_tags %}
<nav id="sidebar" class="sidebar no-highlighting collapsed" data-aos="fade-right" data-aos-duration="1000">
    <div class="sidebar-user clickable manage-user-btn" data-modal-url="{% url 'manage_users:manage_modal' %}"
        data-username="{{user.username}}">
        <div class=sidebar-profile-pic>
            <i class="fas fa-user"></i>
        </div>
        <div class="username">
            <div class="line-clamp-1">{{user.get_username}}</div>
        </div>
    </div>

    <div id="navpages" class="navpages">
        <!-- Discover Tab Group -->
        {% if server_settings.sonarr_enabled or server_settings.radarr_enabled %}
        <div class="nav-group clickable" data-bs-toggle="collapse" data-bs-target="#discover-tabs" aria-expanded="true"
            aria-controls="discover-tabs">
            <div class="group-name line-clamp-1">
                <div class="group-icon">
                    <i class="fas fa-compass icon-left"></i>
                </div>
                Discover
            </div>
            <i class="fas fa-caret-up icon-right" title="Collapse Group"></i>
        </div>
        {% endif %}
        <div class="tabs-collapse collapse show" id="discover-tabs">
            <div class="tabs-indicator"></div>
            <div class="tabs">
                {% if server_settings.sonarr_enabled and server_settings.radarr_enabled %}
                <div class="nav-tab">
                    <a href="{% viewport_url 'discover:all' %}" class="line-clamp-1">
                        TV & Movies
                    </a>
                    <i class="fas fa-filter icon-right filter-modal-btn clickable" title="Filter"
                        data-modal-url="{% url 'discover:simple_filter_modal' %}"></i>
                </div>
                {% endif %}
                {% if server_settings.sonarr_enabled %}
                <div class="nav-tab">
                    <a href="{% viewport_url 'discover:tv' %}" class="line-clamp-1">
                        Television
                    </a>
                    <i class="fas fa-filter icon-right filter-modal-btn clickable" title="Filter"
                        data-modal-url="{% url 'discover:simple_filter_modal' %}?content_type=tv"
                        data-content-type="tv"></i>
                </div>
                {% endif %}
                {% if server_settings.radarr_enabled %}
                <div class="nav-tab">
                    <a href="{% viewport_url 'discover:movies' %}" class="line-clamp-1">
                        Movies
                    </a>
                    <i class="fas fa-filter icon-right filter-modal-btn clickable" title="Filter"
                        data-modal-url="{% url 'discover:simple_filter_modal' %}?content_type=movie"
                        data-content-type="movie"></i>
                </div>
                {% endif %}
            </div>
        </div>

        <!-- User Tab Group -->
        <div class="nav-group clickable" data-bs-toggle="collapse" data-bs-target="#user-tabs" aria-expanded="true"
            aria-controls="user-tabs">
            <div class="group-name line-clamp-1">
                <div class="group-icon">
                    <i class="fas fa-users icon-left"></i>
                </div>
                User
            </div>
            <i id="user-fa" class="fas fa-caret-up icon-right" title="Collapse Group"></i>
        </div>
        <div class="tabs-collapse collapse show" id="user-tabs">
            <div class="tabs-indicator"></div>
            <div class="tabs">
                <div class="nav-tab">
                    <a href="{% viewport_url 'user_requests:my_requests' %}" class="line-clamp-1">
                        My Requests
                    </a>
                </div>
                <div class="nav-tab">
                    <a href="{% viewport_url 'issue_reporting:my_issues' %}" class="line-clamp-1">
                        My Issues
                    </a>
                </div>
                <div class="nav-tab">
                    <div class="line-clamp-1 manage-user-btn clickable"
                        data-modal-url="{% url 'manage_users:manage_modal' %}" data-username="{{user.username}}">
                        Settings
                    </div>
                </div>
                <div class="nav-tab">
                    <a href="{% url 'sign_out' %}" class="line-clamp-1">
                        Sign Out
                    </a>
                </div>
            </div>
        </div>

        <!-- Admin Tab Group -->
        {% if user.is_staff %}
        <div class="nav-group clickable" data-bs-toggle="collapse" data-bs-target="#admin-tabs" aria-expanded="true"
            aria-controls="admin-tabs">
            <div class="group-name line-clamp-1">
                <div class="group-icon">
                    <i class="fas fa-cogs icon-left"></i>
                </div>
                Admin
            </div>
            <i id="admin-fa" class="fas fa-caret-up icon-right" title="Collapse Group"></i>
        </div>
        <div class="tabs-collapse collapse show" id="admin-tabs">
            <div class="tabs-indicator"></div>
            <div class="tabs">
                <div class="nav-tab">
                    <a href="{% viewport_url 'user_requests:all_requests' %}" class="line-clamp-1">
                        All Requests
                    </a>
                </div>
                <div class="nav-tab">
                    <a href="{% viewport_url 'issue_reporting:all_issues' %}" class="line-clamp-1">
                        All Issues
                    </a>
                </div>
                <div class="nav-tab">
                    <a href="{% viewport_url 'manage_users:main' %}" class="line-clamp-1">
                        Manage Users
                    </a>
                </div>
                <div class="nav-tab">
                    <a href="{% viewport_url 'server_settings:main' %}" class="line-clamp-1">
                        Server Config
                    </a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if user.is_staff and debug %}
        <div class="nav-group clickable" data-bs-toggle="collapse" data-bs-target="#debug-tabs" aria-expanded="true"
            aria-controls="admin-tabs">
            <div class="group-name line-clamp-1">
                <div class="group-icon">
                    <i class="fas fa-spider icon-left"></i>
                </div>
                Debug
            </div>
            <i id="admin-fa" class="fas fa-caret-up icon-right" title="Collapse Group"></i>
        </div>
        <div class="tabs-collapse collapse show" id="debug-tabs">
            <div class="tabs-indicator"></div>
            <div class="tabs">
                <div class="nav-tab">
                    <a href="{% url 'silk:summary' %}" class="line-clamp-1">
                        Performance
                    </a>
                </div>
                <div class="nav-tab">
                    <a href="{% url 'admin:index' %}" class="line-clamp-1">
                        Database
                    </a>
                </div>
                <div class="nav-tab">
                    <a href="{% url 'django-admindocs-docroot' %}" class="line-clamp-1">
                        Code Outline
                    </a>
                </div>
                <div class="nav-tab">
                    <a href="{% url 'schema-redoc' %}" class="line-clamp-1">
                        API Docs (ReDoc)
                    </a>
                </div>
                <div class="nav-tab">
                    <a href="{% url 'schema-swagger-ui' %}" class="line-clamp-1">
                        API Docs (Swagger)
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</nav>