:root {
	--movie-indicator: #b66707;
	--more-info-section-spacing: 20px;
	--more-info-section-padding: 20px;
	--left-column-width: 250px;
	--right-column-width: auto;
	--cast-poster-card-height: calc(
		var(--poster-height) + var(--cast-poster-card-details-height)
	);
	--cast-poster-card-details-height: 70px;
	--artwork-height: 200px;
	--artwork-width: calc(var(--artwork-height) * 1.77);
	--video-height: 300px;
	--video-width: calc(var(--video-height) * 1.77);
	--backdrop-height: 400px;
}

/* Right Side */

.more-info-main-info {
	width: 100%;
	display: inline-block;
	padding-left: var(--more-info-section-padding);
	margin-top: 115px;
}

.more-info-quick-info-container {
	margin-top: 40px;
	margin-left: 20px;
	margin-right: 20px;
}

.more-info-quick-info {
	box-sizing: border-box;
	width: 100%;
	border-radius: 4px;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 15px;
	display: grid;
	grid-template-columns: repeat(5, auto);
	gap: 15px;
}

.inline-availablity-dot {
	width: 6px;
	height: 6px;
	border-radius: 50%;
	display: inline-block;
	margin-bottom: 2px;
	margin-left: 5px;
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.main-title {
	margin-bottom: 10px;
	font-family: var(--global-font);
	font-weight: 700;
	font-size: 38px;
	color: #fff;
	text-shadow: 1px 1px 5px #000;
}

.main-rating {
	background: #252525;
	border-radius: 6px;
	color: rgba(255, 255, 255, 0.8);
	display: inline-block;
	font-size: 20px;
	padding: 8px 11px;
	box-shadow: var(--box-shadow);
}

.rating {
	padding-left: 7px;
	color: #64eac4;
	font-weight: 700;
}

.user-rating {
	float: right;
	font-weight: 700;
	font-size: 14px;
	line-height: 14px;
	color: rgba(255, 255, 255, 0.75);
	background: rgba(255, 255, 255, 0.15);
	padding: 5px;
	border-radius: 5px;
	margin-left: 10px;
	margin-bottom: 5px;
	min-width: 60px;
	text-align: center;
}

.more-info-main-info .standard-btn {
	margin-left: 15px;
}

.modal .standard-btn.report-modal-btn,
.standard-btn {
	color: #fff;
	font-family: var(--global-font);
	font-size: 17px;
	line-height: 40px;
	text-align: center;
	width: auto;
	padding-left: 15px;
	padding-right: 15px;
	height: 40px;
	border-radius: 4px;
	background: var(--accent-color);
	float: right;
	font-weight: bold;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}

.standard-btn.available {
	background: #333333;
}
.standard-btn.view-episodes .fa-plus {
	font-size: 0;
}

.modal .standard-btn.report-modal-btn:hover,
.standard-btn.series-modal-btn.available:hover,
.standard-btn:hover:not(.available) {
	background: #2ba180;
}

.standard-btn.report-selection-modal-btn,
.standard-btn.report-btn,
.standard-btn.report-modal-btn,
.standard-btn.delete-user-btn {
	background: #a53939;
}

.standard-btn.report-selection-modal-btn:hover,
.standard-btn.report-btn:hover,
.standard-btn.report-modal-btn:hover,
.standard-btn.delete-user-btn:hover {
	background: #d04141;
}

.more-info-overview {
	box-sizing: border-box;
	margin-top: var(--more-info-section-spacing);
	width: 100%;
	border-radius: 4px;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	padding-top: var(--more-info-section-padding);
	font-size: 15px;
}

.more-info-summary {
	grid-row: 1;
	grid-column: 1;
	font-size: 16px;
	line-height: 22px;
	padding-left: var(--more-info-section-padding);
	padding-right: var(--more-info-section-padding);
}

.tns-inner > .more-info-reviews {
	opacity: 1;
}

.more-info-reviews .bold.head {
	grid-row: 1;
	grid-column: 1;
	text-align: left;
}

.more-info-reviews .fa-angle-right {
	grid-row: 1 / 2;
	grid-column: 4;
	font-size: 28px;
	height: 100%;
	margin-left: 10px;
	color: #252525;
}

.giant-quote {
	display: inline;
	font-size: 20px;
	font-family: "Times New Roman", serif;
}

.giant-quote:first-of-type {
	margin-right: 3px;
}

.giant-quote:last-of-type {
	margin-left: 3px;
}

.review-quote {
	display: block;
	max-height: 250px;
	overflow-y: auto;
	padding-right: 15px;
}

.review {
	padding: 15px;
	border-radius: 8px;
	background: var(--poster-bg-color);
	color: rgba(255, 255, 255, 0.75);
	font-weight: 300;
	line-height: 18px;
	height: auto;
	overflow: hidden;
}

.more-info-reviews .review .bold {
	margin-bottom: 5px;
	text-align: right;
	margin-top: 5px;
	color: #4ecea9;
	font-size: 18px;
	display: block;
}

.tns-nav {
	text-align: center;
}

.tns-nav > [aria-controls] {
	width: 9px;
	height: 9px;
	padding: 0;
	margin: 0 5px;
	border-radius: 50%;
	background: #ddd;
	border: 0;
}

.tns-nav > .tns-nav-active {
	background: var(--accent-color);
}

.viewport .cast.poster-container {
	--poster-details-height: var(--cast-poster-card-details-height);
	--poster-container-height: auto;
}

.viewport .person-roles.poster-container .poster-description,
.viewport .cast.poster-container .poster-description {
	text-align: left;
}

.viewport .cast.poster-container .poster-title {
	width: 100%;
}

.section-title {
	margin-bottom: 5px;
	font-size: 18px;
	line-height: 22px;
}

.viewport .carousel .section-title {
	margin-bottom: 0;
	padding-top: var(--more-info-section-padding);
	padding-left: var(--more-info-section-padding);
	padding-right: var(--more-info-section-padding);
	display: inline-block;
	width: 100%;
}

.tns-carousel {
	padding-bottom: var(--more-info-section-padding);
	padding-top: calc(var(--more-info-section-padding) / 2);
	display: flex;
}

.carousel-inner-container {
	display: none;
}

.carousel-inner-container.tns-carousel {
	display: flex;
}

.carousel-controls {
	position: absolute;
	right: calc(var(--more-info-section-padding) / 2);
	top: calc(var(--more-info-section-padding) * 0.85);
	display: flex;
}

.tns-controls {
	text-align: center;
}

.tns-controls:not([aria-label]) {
	display: none;
}

.tns-controls [aria-controls] {
	background: transparent;
	border: 0;
	font-size: 18px;
	padding: 0 10px;
	transition: opacity 0.3s ease;
}

.tns-controls [aria-controls][aria-disabled="true"] {
	opacity: 0.4;
}

.tns-controls [aria-controls]:not([aria-disabled="true"]) {
	cursor: pointer;
}

.tns-inner {
	/* Fix for when there's too few items in the carousel */
	margin: 0px 10px 0px 20px !important;
}

.viewport .tns-inner .poster-container {
	margin: 0;
}

.artwork-container-wrapper {
	width: var(--artwork-width);
	min-width: var(--artwork-width);
	max-width: var(--artwork-width);
	height: var(--artwork-height);
	min-height: var(--artwork-height);
	max-height: var(--artwork-height);
	text-align: left;
	overflow: hidden;
}

.artwork-container {
	background: var(--placeholder-bg);
	width: 100%;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
}

.artwork-carousel-artwork {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	transition: opacity 2.5s;
}

.youtube-player {
	width: var(--video-width);
	min-width: var(--video-width);
	max-width: var(--video-width);
	height: var(--video-height);
	min-height: var(--video-height);
	max-height: var(--video-height);
	border-radius: 10px;
	overflow: hidden;
}

/* Global */

.movie-backdrop-container {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
	width: 100%;
}

.movie-backdrop-container > * {
	-webkit-mask-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.45),
		rgba(0, 0, 0, 0)
	);
	mask-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.45),
		rgba(0, 0, 0, 0)
	);
}

.movie-backdrop-container img {
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	position: absolute;
	transition: opacity 5s ease;
}

.movie-backdrop-container .backdrop-placeholder-gradient {
	width: 100%;
	height: var(--backdrop-height);
	position: absolute;
	background: var(--placeholder-bg);
	z-index: -1;
	opacity: 0.55;
}

.movie-backdrop-container > .backdrop-tint {
	background: linear-gradient(360deg, black, transparent);
	width: 100%;
	height: var(--backdrop-height);
	position: absolute;
	z-index: 1;
}

.more-info-topbar {
	display: grid;
	grid-template-columns: var(--left-column-width) var(--right-column-width);
	-moz-column-gap: 25px;
	column-gap: 25px;
}

.viewport .carousel {
	box-sizing: border-box;
	margin-top: var(--more-info-section-spacing);
	width: 100%;
	border-radius: 4px;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	padding: 0;
	font-size: 15px;
	position: relative;
}

/* Left Side */

#movie-request-status {
	display: inline;
}

.quick-info-block .modal-dot {
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.quick-info-block.availability .quick-info {
	display: flex;
	align-items: center;
}

.more-info-poster-container {
	width: 100%;
	height: auto;
	box-shadow: var(--box-shadow);
	border-radius: 5px;
	overflow: hidden;
	background: var(--placeholder-bg);
}

.more-info-poster-container img {
	display: block;
	width: 100%;
	height: calc(var(--left-column-width) * 1.5);
	transition: opacity 1.5s ease;
}

.more-info-collection-btn {
	width: 100%;
	text-align: center;
	background: var(--accent-color);
	font-family: "Roboto", sans-serif;
	color: #fff;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: 700;
	box-shadow: var(--box-shadow);
	transition: background 0.3s ease;
}

.more-info-collection-btn:hover {
	background: #2ba180;
}

.quick-info-block {
	font-size: inherit;
	color: inherit;
}

.quick-info.bold {
	margin-bottom: 5px;
}

.quick-info {
	font-size: inherit;
	display: block;
	color: inherit;
}

.quick-info-btn {
	background: var(--accent-color);
	padding: 5px 8px;
	display: inline-block;
	border-radius: 4px;
	color: #fff;
	margin: 2px;
	transition: background 0.3s ease;
}

.quick-info-btn:hover {
	background: #2ba180;
}

.quick-info-extra-spacing {
	line-height: 18px;
}

/* Image/Video Popup Modals (ex. artwork) */

.mfp-no-margins .mfp-container {
	padding: 0;
}

.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
	right: 0px;
	cursor: pointer !important;
	transition: opacity 0.3s ease;
	background: transparent;
}

.mfp-arrow {
	transition: opacity 0.3s ease, transform 0.3s ease;
	background: none !important;
}

.mfp-arrow:focus {
	opacity: 0.65;
}

.mfp-arrow:hover {
	opacity: 1;
}

.mfp-arrow:active {
	margin-top: -55px;
	opacity: 1;
}

.mfp-counter {
	display: none;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
	opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
	opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}
