{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "primary/head_content.html" %}
</head>

<body>
    <div class="main">
        {% csrf_token %}
        {% include "primary/navbar.html" %}
        {% include "primary/sidebar.html" %}
        {% include "modal/default.html" %}
        <div class="viewport-container">
            {% include "primary/loading_animation_container.html" %}
        </div>

        <script src="{% static 'js/viewport.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'js/modal.js' %}" crossorigin="anonymous"></script>
    </div>
</body>

</html>