{% load solo_tags %}
{% get_solo 'server_settings.ConreqConfig' as server_settings %}
{% load static compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "primary/head_content.html" %}
</head>

<body>
    <div class="main">
        {% csrf_token %}
        {% include "primary/navbar.html" %}
        {% include "primary/sidebar.html" %}
        {% include "modal/default.html" %}
        <div class="viewport-container">
            {% include "primary/loading_animation_container.html" %}
        </div>

        <!-- Local JS -->
        {% compress js %}
        <script src="{% static 'js/toast_messages.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'js/generic_functions.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'js/client_websockets.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'js/click_events.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'js/sidebar.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'js/navbar.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'js/modal.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'js/more_info.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'js/viewport.js' %}" crossorigin="anonymous"></script>
        {% endcompress %}

        <!-- User defined JS -->
        {% if server_settings.conreq_custom_js %}
        <script src="{{ server_settings.conreq_custom_js }}" crossorigin="anonymous"></script>
        {% endif %}
    </div>
</body>

</html>