{% load solo_tags %}
{% get_solo 'server_settings.ConreqConfig' as server_settings %}
{% load static compress %}
{% load static %}
{% load conreq_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "primary/head_content.html" %}
</head>

<body>
    <input id="app-name" type="hidden" value="{% app_name %}">
    <input id="base-url" type="hidden" value="{{ base_url }}">
    {% include "primary/navbar.html" %}
    {% include "primary/sidebar.html" %}
    {% include "modal/default.html" %}
    <main class="viewport-container-top" hidden>
    </main>
    <main class="viewport-container">
        {% include "primary/loading_animation_container.html" %}
    </main>
</body>

</html>