{% load static compress %}
{% load solo_tags %}
{% get_solo 'server_settings.ConreqConfig' as server_settings %}
{% load static %}
<meta charset="UTF-8">
<title>{{ server_settings.conreq_app_name }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="Description" content="Conreq: Content Request">

<!-- Favicons and App icons -->
{% include "primary/icons.html" %}

<!-- Preconnections -->
<link rel="preconnect" href="https://fonts.googleapis.com">

<!-- Font (Roboto) -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap"
    crossorigin="anonymous">

{% compress css %}
<!-- Notification Popups (izi Toast) -->
<link rel="stylesheet" href="{% static 'css/libraries/izi_toast_1.4.0.min.css' %}" crossorigin="anonymous">
<!-- Local CSS -->
<link rel="stylesheet" href="{% static 'css/main_slim.css' %}" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/login.css' %}" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/initialization.css' %}" crossorigin="anonymous">
{% endcompress %}

{% compress js %}
<!-- Notification Popups (izi Toast) -->
<script src="{% static 'js/libraries/izi_toast_1.4.0.min.js' %}" crossorigin="anonymous"></script>
<!-- Local JS -->
<script src="{% static 'js/toast_messages.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'js/generic_functions.js' %}" crossorigin="anonymous"></script>
{% endcompress %}