{% load static %}
<div class="navbar navbar-expand-md navbar-dark fixed-top" data-aos="fade-down">
    <a href="#{% url 'discover:all' %}" class="navbar-brand-container no-highlighting">
        <img src="{% static 'images/conreq_logo.png' %}" alt="logo" class="navbar-brand" />
    </a>
    <button class="navbar-toggler" type="button" aria-label="Toggle sidebar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="searchbar form-inline">
        <input type="text" id="content-search" placeholder="Search..." autocomplete="off" autocorrect="off"
            autocapitalize="off" spellcheck="false" data-search-url="{% url 'search:main' %}" />
        <i class="fas fa-search clickable"></i>
    </div>
    <div class="username-container no-highlighting clickable">
        {% if user.is_authenticated %}
        <div class="username full-name">{{ user.get_username }}</div>
        <div class="username first-letter">{{ user.get_username|make_list|first|capfirst }}</div>
        {% endif %}
        <i class="fas fa-caret-down"></i>
    </div>
    <script src="{% static 'js/navbar.js' %}"></script>
</div>