{% load static %}
<div class="navbar navbar-expand-md navbar-dark" data-aos="fade-down">
    <a href="#{% url 'discover:all' %}" class="navbar-brand-container no-highlighting">
        <img src="{% static 'images/conreq_logo.png' %}" alt="logo" class="navbar-brand" draggable="false" />
    </a>
    <button class="navbar-toggler" type="button" aria-label="Toggle sidebar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="searchbar form-inline">
        <input type="text" id="content-search" placeholder="Search..." autocomplete="off" autocorrect="off"
            autocapitalize="off" spellcheck="false" data-search-url="{% url 'search:main' %}" />
        <i class="fas fa-search clickable"></i>
        <label for="content-search">Search for content</label>
    </div>

    <div class="username-container dropdown">
        <div class="no-highlighting clickable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if user.is_authenticated %}
            <div class="username full-name line-clamp-1">{{ user.get_username }}</div>
            <div class="username first-letter">{{ user.get_username|make_list|first|capfirst }}</div>
            {% endif %}
            <i class="fas fa-caret-down"></i>
        </div>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
            <!-- <button class="dropdown-item" type="button">Language</button> -->
            <!-- <button class="dropdown-item" type="button">Preferences</button> -->
            <a class="dropdown-item" href="{% url 'sign_out' %}">Sign Out</a>
        </div>
    </div>
</div>