{% load solo_tags %}
{% load static compress %}
{% load static %}
{% load conreq_tags %}
{% get_solo 'server_settings.ServerConfig' as server_config %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% include "etc/head_content.html" %}
</head>

<body>
    <input id="app-name" type="hidden" value="{% app_name %}">
    <input id="base-url" type="hidden" value="{{ base_url }}">
    {% include "homepage/navbar.html" %}
    {% include "modal/default.html" %}
    {% include "homepage/sidebar.html" %}
    <main class="viewport-container-loading">
        {% include app_config.loading_animation_template %}
    </main>
    <main class="viewport-container-top" hidden="hidden"> </main>
    <main class="viewport-container" hidden="hidden"> </main>
</body>

</html>