{% load static compress %}
{% load solo_tags %}
{% get_solo 'server_settings.ServerConfig' as server_settings %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "etc/head_content_slim.html" %}
</head>

<body>
    <div class="main">

        <div class="default-box">
            <div class="default-box-header">
                <img src="{% static 'images/conreq_logo.png' %}" alt="conreq logo" class="default-box-brand">
            </div>
            <form method="post" action="{% url 'sign_up:invite_code' %}">
                {% csrf_token %}
                <h1>REGISTRATION</h1>

                <h2>Create your new {{ server_settings.conreq_app_name }} account!</h2>
                {{ form.email.errors }}
                <input placeholder="Email" oninput="this.className = ''" autocomplete="off" autocorrect="off"
                    autocapitalize="off" spellcheck="false" type="email" required="" name="email"
                    value="{{ form.data.email }}">

                {{ form.username.errors }}
                <input placeholder="Username" oninput="this.className = ''" autocomplete="off" autocorrect="off"
                    autocapitalize="off" spellcheck="false" type="text" required="" name="username"
                    autocomplete="username" maxlength="150" value="{{ form.data.username }}">

                {{ form.password2.errors }}
                <input placeholder="Password" oninput="this.className = ''" autocomplete="off" autocorrect="off"
                    autocapitalize="off" spellcheck="false" type="password" required="" name="password1"
                    autocomplete="current-password" id="password" value="{{ form.data.password1 }}">

                <input placeholder="Confirm Password" oninput="this.className = ''" autocomplete="off" autocorrect="off"
                    autocapitalize="off" spellcheck="false" type="password" required="" id="confirm_password"
                    name="password2" value="{{ form.data.password2 }}">

                <input type="submit" value="Sign Up">
                <input type="hidden" name="next" value="{{ next }}">

            </form>
        </div>
        <div class="default-bg">
            <div class="default-bg-tint">
            </div>
        </div>


        {% if form.errors %}
        <script>
            conreq_submission_failed_toast_message();
        </script>
        {% endif %}

        {% compress js %}
        <script src="{% static 'js/sign_up.js' %}" crossorigin="anonymous"></script>
        {% endcompress %}
    </div>
</body>

</html>