{% extends 'centered_page.html' %}
{% load static %}
{% load conreq_tags %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="default-box-header">
    <img src="{% static 'images/conreq_logo.png' %}" class="logo">
</div>

<form id="sign-up-form" method="post" action="">
    {% csrf_token %}
    <h1>REGISTRATION</h1>
    <h2>Create your new {% server_name %} account!</h2>

    {{ form.email.errors }}
    <input placeholder="Email" oninput="this.className = ''" autocomplete="off" autocorrect="off" autocapitalize="off"
        spellcheck="false" type="email" required="" name="email" value="{{ form.data.email }}">

    {{ form.username.errors }}
    <input placeholder="Username" oninput="this.className = ''" autocomplete="off" autocorrect="off"
        autocapitalize="off" spellcheck="false" type="text" required="" name="username" autocomplete="username"
        maxlength="150" value="{{ form.data.username }}">

    {{ form.password2.errors }}
    <input placeholder="Password" oninput="this.className = ''" autocomplete="off" autocorrect="off"
        autocapitalize="off" spellcheck="false" type="password" required="" name="password1"
        autocomplete="current-password" id="password" value="{{ form.data.password1 }}">

    <input placeholder="Confirm Password" oninput="this.className = ''" autocomplete="off" autocorrect="off"
        autocapitalize="off" spellcheck="false" type="password" required="" id="confirm_password" name="password2"
        value="{{ form.data.password2 }}">

    <input type="submit" value="Sign Up">
</form>
{% endblock %}
