{% load static %} {% if card.tmdbCard %} {% include "tmdb_poster_card.html" %} {% else %}
<div class="posterContainer no-highlighting">
    <i class="fas fa-ellipsis-v"></i>
    <i class="fas fa-angle-down"></i>
    <div class="poster-tint"></div>
    <a href="/more_info/?{% if card.tmdbId %}tmdb_id={{card.tmdbId}}{% elif card.tvdbId %}tvdb_id={{card.tvdbId}}{% endif %}&content_type={{card.contentType}}">
        <img src="{% static 'images/transparent.png' %}" data-src="{{card.remotePoster}}" class="posterContainer-poster lazy" />
    </a>

    <div class="posterContainer-descriptionContainer poster-{{card.contentType}}">
        <div class="posterContainer-title">{% firstof card.title "Unknown" %}</div>
        {% if card.conreqStatus == available %}
        <div class="availablity-dot green"></div>
        {% elif card.conreqStatus == partial %}
        <div class="availablity-dot yellow"></div>
        {% else %}
        <div class="availablity-dot red"></div>
        {% endif %}
        <div class="posterContainer-description">{{card.overview}}</div>
    </div>
</div>
{% endif %}