{% spaceless %}
<div class="modal-no-tint">
    <div class="modal-container">
        <div class="modal-fa-holder">
            <i class="fas fa-window-close"></i>
        </div>
        <div class="modal-seasons-container">
            <div class="season-block season-1">
                <input type="checkbox" />
                <div class="season">
                    <div class="modal-dot red"></div>
                    Season 1 - "The Return of the Flash"
                </div>
                <i id="season-one-fa" class="fas fa-angle-down"></i>
            </div>
            <div class="episode-container season-one">
                <div class="episode-block">
                    <input type="checkbox" />
                    <div class="episode">
                        <div class="modal-dot red"></div>
                        E01 - Pilot
                    </div>
                </div>
                <div class="episode-block">
                    <input type="checkbox" />
                    <div class="episode">
                        <div class="modal-dot red"></div>
                        E02 - Fastest Man Alive
                    </div>
                </div>
                <div class="episode-block">
                    <input type="checkbox" />
                    <div class="episode">
                        <div class="modal-dot red"></div>
                        E03 - Things You Can't Outrun
                    </div>
                </div>
                <div class="episode-block">
                    <input type="checkbox" />
                    <div class="episode">
                        <div class="modal-dot red"></div>
                        E04 - Going Rogue
                    </div>
                </div>
            </div>
            <div class="season-block season-2">
                <input type="checkbox" />
                <div class="season">
                    <div class="modal-dot yellow"></div>
                    Season 2 - "Finding the Lost Chapter"
                </div>
                <i id="season-two-fa" class="fas fa-angle-down"></i>
            </div>
            <div class="episode-container season-two">
                <div class="episode-block">
                    <div class="episode">
                        <div class="modal-dot green"></div>
                        E01 - The Man Who Saved Central City
                    </div>
                </div>
                <div class="episode-block">
                    <div class="episode">
                        <div class="modal-dot yellow"></div>
                        E02 - Flash of Two Worlds
                    </div>
                </div>
                <div class="episode-block">
                    <input type="checkbox" />
                    <div class="episode">
                        <div class="modal-dot red"></div>
                        E03 - Family of Rogues
                    </div>
                </div>
                <div class="episode-block">
                    <input type="checkbox" />
                    <div class="episode">
                        <div class="modal-dot red"></div>
                        E04 - The Fury of Firestorm
                    </div>
                </div>
            </div>
            <div class="season-block season-3">
                <div class="season">
                    <div class="modal-dot green"></div>
                    Season 3 - "Faster Than Lightning"
                </div>
                <i class="fas fa-angle-down"></i>
            </div>
            <div class="season-block season-4">
                <div class="season">
                    <div class="modal-dot green"></div>
                    Season 4 - "Can't Look Back"
                </div>
                <i class="fas fa-angle-down"></i>
            </div>
            <div class="season-block season-5">
                <div class="season">
                    <div class="modal-dot green"></div>
                    Season 5 - "Roadblocks"
                </div>
                <i class="fas fa-angle-down"></i>
            </div>
        </div>
        <div class="modal-request-button-container">
            <div class="modal-confirm-button flash">
                CONFIRM
            </div>
            <div class="modal-select-button flash">
                SELECT ALL
            </div>
        </div>
    </div>
</div>
{% endspaceless %}