{% spaceless %} {% load static %}
<link rel="stylesheet" href="{% static 'css/modal.css' %}" />
<div class="modal-tint">
    <div class="modal-container">
        <div class="modal-fa-holder">
            <i class="fas fa-window-close"></i>
            <a href="/more_info/">
                <i class="fas fa-expand"></i>
            </a>
        </div>
        <img class="modal-poster" src="#" alt="" />
        <div class="modal-title">Aquaman</div>
        <div class="modal-info">
            <div class="modal-info-text-left">
                <div class="info-block">
                    <div class="info info-bold">
                        Availabity:
                        <div class="info">
                            Unavailable
                            <div class="modal-dot red"></div>
                        </div>
                    </div>
                </div>
                <div class="info-block">
                    <div class="info info-bold">
                        Request Status:
                        <div class="info">
                            Unrequested
                            <div class="modal-dot red"></div>
                        </div>
                    </div>
                </div>
                <div class="info-block">
                    <div class="info info-bold">
                        Content Type:
                        <div class="info">Movie</div>
                    </div>
                </div>
            </div>
            <div class="modal-info-text-right">
                <div class="info-block">
                    <div class="info info-bold">
                        In Cinemas:
                        <div class="info">December 2018</div>
                    </div>
                </div>
                <div class="info-block">
                    <div class="info info-bold">
                        Genres:
                        <div class="info">Fantasy, Adventure</div>
                    </div>
                </div>
                <div class="info-block">
                    <div class="info info-bold">
                        Score:
                        <div class="info">6.3 / 10</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-description">
            Once home to the most advanced civilization on Earth, the city of Atlantis is now an underwater kingdom ruled by the power-hungry King Orm. With a vast army at his disposal, Orm plans to conquer the remaining oceanic people -- and then the surface world.
            Standing in his way is Aquaman, Orm's half-human, half-Atlantean brother and true heir to the throne. With help from royal counselor Vulko, must retrieve the legendary Trident of Atlan and embrace his destiny as protector of the deep.
        </div>
        <div class="modal-request-button-container">
            <div class="modal-request-button">
                <i class="fas fa-plus"></i> REQUEST
            </div>
        </div>
    </div>
</div>
{% endspaceless %}