{% spaceless %} {% load static %}
<title>Conreq</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Preconnections -->
<link rel="preconnect" href="https://image.tmdb.org">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://cdn.jsdelivr.net">
<link rel="preconnect" href="https://stackpath.bootstrapcdn.com">
<link rel="preconnect" href="https://cdnjs.cloudflare.com">

<!-- Font (Roboto) -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" crossorigin="anonymous" />

<!-- Icons (FontAwesome) -->
<link rel="stylesheet" href="{% static 'css/fontawesome_all_5.15.1.min.css' %}" crossorigin="anonymous" />
<link rel="preload" href="{% static 'webfonts/fa-solid-900.woff2' %}" as="font" type="font/woff2" crossorigin>

<!-- Styling and JS (Bootstrap) -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<!-- Image popups (jQuery Magnific Popup) -->
<link rel="stylesheet" href="{% static 'css/magnific_popup_1.1.0.css' %}" crossorigin="anonymous">
<script src="{% static 'js/magnific_popup_1.1.0.min.js' %}" crossorigin="anonymous"></script>

<!-- Sliders/Carousels (TinySlider) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css" integrity="sha384-PZZ0iQUb2LawAE6IluKzBVRHVB85dkzT3VbPqYx+he9UEfPLUsTpu2B/Qwv6ueAk" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/min/tiny-slider.js" integrity="sha384-17ZL7z7TDMjv+bN855ZqaY8prxaSVXFicbC8iyJfMz2Ng5ElaurJF2GCSUutad6e" crossorigin="anonymous"></script>

<!-- Scrollbar (Simplebar) -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@5.3.0/dist/simplebar.css" integrity="sha384-ygCRjo5PuB2wXMcaFVhoILj0PAzFKbtybp3MIcD31oCXzcQCi0Dbj2LH8fQ1f+Eb" crossorigin="anonymous" />
<script src="https://cdn.jsdelivr.net/npm/simplebar@5.3.0/dist/simplebar.min.js" integrity="sha384-Sq5pifl8fz5srEQvJr/36ly7vMVeeubmw9K+xAmer/7qmEIooJPdUVrsFLU60ti4" crossorigin="anonymous"></script>

<!-- Checkboxes (Pretty-Checkbox) -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" integrity="sha384-ICB8i/maQ/5+tGLDUEcswB7Ch+OO9Oj8Z4Ov/Gs0gxqfTgLLkD3F43MhcEJ2x6/D" crossorigin="anonymous">

<!-- XSS Protection (DOM Purify) -->
<script src="{% static 'js/dom_purify_2.2.min.js' %}" crossorigin="anonymous"></script>

<!-- Static Conreq JS and CSS -->
<link rel="stylesheet" href="{% static 'css/main.css' %}" crossorigin="anonymous" />
<link rel="stylesheet" href="{% static 'css/mobile.css' %}" crossorigin="anonymous" />
<script src="{% static 'js/helper_functions.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'js/client_websockets.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'js/modal.js' %}" crossorigin="anonymous"></script>{% endspaceless %}