{% load static %}
<link rel="stylesheet" href="{% static 'css/izi_toast_1.4.0.min.css' %}" crossorigin="anonymous" />
<script src="{% static 'js/izi_toast_1.4.0.min.js' %}" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/main.css' %}" crossorigin="anonymous" />
<link rel="stylesheet" href="{% static 'css/mobile.css' %}" crossorigin="anonymous" />
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<script src="{% static 'js/helper_functions.js' %}" crossorigin="anonymous"></script>