{% spaceless %}
<!DOCTYPE html>
<html>

<head>
    {% include "head_content.html" %} {% load static %}
</head>

<body>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <div class="main">
        <div class="login-box">
            <div class="login-box-header">
                <img src="{% static 'images/conreq_logo.png' %}" alt="conreq logo" class="login-brand">
            </div>
            <div class="centered">
                <input id="sign-in-username" type="text" placeholder="{{username}}" class="username text-input" name="username" required="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" autofocus="">
                <input id="sign-in-password" type="password" placeholder="{{password}}" class="password text-input" name="password" required="">
                <a href="/discover/" class="sign-in-container">
                    <div class="sign-in"> {{sign_in}} </div>
                </a>
            </div>
        </div>
        <div class="login-bg">
            <div class="login-bg-tint">
            </div>
        </div>
    </div>
</body>

</html>
{% endspaceless %}