{% spaceless %}
<!DOCTYPE html>
<html>

<head>
    {% include "head_content.html" %} {% load static %}
</head>

<body>
    <div class="main">

        {% include "navbar.html" %} {% include "sidebar.html" %}
        <div class="viewport-container">
            <div class="viewport viewport-posters search">
                {% for card in all_cards %} {% include "arr_poster_card.html" %} {% endfor %}
            </div>
            <script src="{% static 'js/viewport.js' %}"></script>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.1.2/dist/lazyload.min.js"></script>
    <script src="{% static 'js/lazy_posters.js' %}"></script>
</body>

</html>
{% endspaceless %}