{% spaceless %} {% load static %}
<div id="modal-content" class="modal-content">
    <div class="modal-header">
        <div data-dismiss="modal" aria-label="Close">
            <i class="fas fa-window-close"></i>
        </div>
    </div>
    <div class="modal-body">
        <div class="season-episode-container">
            {% for season in seasons %}
            <div class="season-block season-1 no-highlighting">
                <div class="modal-checkbox-container"><input type="checkbox" /></div>

                <div class="modal-season-container">
                    <div class="season line-clamp-1">
                        <div class="modal-dot red"></div>
                        S1 - The Return of the Flash
                    </div>
                </div>
                <div class="modal-season-dropdown-container">
                    <i class="fas fa-angle-down collapsed" data-toggle="collapse" data-target="#season-1" aria-expanded="false" aria-controls="season-1"></i>
                </div>

            </div>
            <div id="season-1" class="episode-container collapse no-highlighting">
                <div class="episode-block">
                    <div class="modal-checkbox-container"><input type="checkbox" /> </div>
                    <div class="episode line-clamp-1">
                        <div class="modal-dot red"></div>
                        1 - Pilot
                    </div>
                </div>
                <div class="episode-block">
                    <div class="modal-checkbox-container"><input type="checkbox" /></div>
                    <div class="episode line-clamp-1">
                        <div class="modal-dot red"></div>
                        2 - Fastest Man Alive, And He Really Fucks
                    </div>
                </div>
                <div class="episode-block">
                    <div class="modal-checkbox-container"><input type="checkbox" /></div>
                    <div class="episode line-clamp-1">
                        <div class="modal-dot red"></div>
                        3 - Things You Can't Outrun
                    </div>
                </div>
                <div class="episode-block">
                    <div class="modal-checkbox-container"><input type="checkbox" /></div>
                    <div class="episode line-clamp-1">
                        <div class="modal-dot red"></div>
                        4 - Going Rogue
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="modal-footer">
        <div class="modal-button select-button no-highlighting" onclick="modal_select_all()">SELECT ALL</div>
        <div class="modal-button request-button no-highlighting">REQUEST</div>
    </div>
    <script src="{% static 'js/modal.js' %}" crossorigin="anonymous"></script>
</div>
{% endspaceless %}