{% extends 'conreq/centered_box.html' %}
{% load static %}

{% block title %}
<title>Password Reset</title>
{% endblock %}

{% block content %}
<div class="default-box-header">
    <img src="{% static 'conreq/images/logo.png' %}" class="logo">
</div>

<h1 class="centered">RESET MY PASSWORD</h1>
<h2 class="centered">Enter your username or email.</h2>

<form id="password-reset-form" method="post" action="">
    {% csrf_token %}
    {{ form.email }}
    <input type="submit" value="Reset password" />
</form>
{% endblock %}
