{% load static %}
{% load conreq_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "primary/head_content_slim.html" %}
</head>

<body>
    <!-- Wave Animation -->
    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>

    <div class="main">
        <div class="default-box offline" data-aos="zoom-in" data-aos-duration="1000">
            <p>Could not connect to {% app_name %}.</p>
            <p>Check your network connection or try again later.</p>
        </div>
    </div>
</body>

</html>