{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "head/initialization.html" %}
</head>

<body>
    <!-- Wave Animation -->
    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>

    <div class="main">

        <div class="default-box" data-aos="zoom-in" data-aos-duration="1000">
            <div class="default-box-header">
                <img src="{% static 'images/conreq_logo.png' %}" class="logo">
            </div>

            <form id="password-reset-form" method="post" action="">
                <h1>RESET MY PASSWORD</h1>
                <h2>Enter your email or username.</h2>
                {% csrf_token %}
                {{ form.email }}
                <input type="submit" value="Reset password" />
            </form>
        </div>
    </div>
</body>

</html>




{# This is used by django.contrib.auth #}
