{% include "etc/loading_animation.html" %}
<div id="modal-content" class="modal-content">
    <div class="modal-header">
        <div class="modal-header-btn-container" data-bs-dismiss="modal" aria-label="Close">
            <i title="Close" class="fas fa-window-close clickable"></i>
        </div>
        <div class="title">USER SETTINGS</div>
    </div>

    <div class="modal-body manage-user">

        <form action="{% url 'manage_users:main' %}">
            <!-- Externally Authenticated User -->
            {% if account.profile.externally_authenticated %}
            <div class="manage-user-input">
                This user was externally authenticated. Some attributes are unavailable.
            </div>
            {% endif %}

            <!-- Username -->
            <input type="hidden" value="{{account.username}}" name="username_original" />
            <div class="manage-user-input">
                <div class="text-input-title">Username</div>
                <div class="text-input-container">
                    <input {% if account.profile.externally_authenticated %} disabled="disabled" {% endif %} type="text"
                        class="small-text-input" placeholder="Username" value="{{account.username}}" autocomplete="off"
                        autocorrect="off" autocapitalize="off" spellcheck="false" name="username" />
                </div>
            </div>

            <!-- Password -->
            {% if not account.profile.externally_authenticated %}
            <div class="manage-user-input">
                <div class="text-input-title">Password</div>
                <div class="text-input-container">
                    <input type="password" class="small-text-input" placeholder="Password" autocomplete="off"
                        autocorrect="off" autocapitalize="off" spellcheck="false" name="password1" />
                </div>
            </div>
            <div class="manage-user-input">
                <div class="text-input-container">
                    <input type="password" class="small-text-input" placeholder="Confirm Password" autocomplete="off"
                        autocorrect="off" autocapitalize="off" spellcheck="false" name="password2" />
                </div>
            </div>
            {% endif %}

            <!-- Email -->
            <div class="manage-user-input">
                <div class="text-input-title">Email</div>
                <div class="text-input-container">
                    <input {% if account.profile.externally_authenticated %} disabled="disabled" {% endif %} type="text"
                        class="small-text-input" placeholder="Email" value="{{account.email}}" autocomplete="off"
                        autocorrect="off" autocapitalize="off" spellcheck="false" name="email" />
                </div>
            </div>

            <!-- Staff status -->
            {% if user.is_staff and user != account %}
            <div class="pretty p-switch p-fill">
                <input type="hidden" name="staff" value="off" />
                <input {% if account.is_staff %} checked {% endif %} type="checkbox" name="staff" />
                <div class="state">
                    <label>Staff Member</label>
                </div>
            </div>
            {% endif %}
        </form>

    </div>

    <div class="modal-footer">
        {% if user.is_staff %}
        <div class="cr-btn red clickable" data-delete-url="{% url 'manage_users:delete' %}"
            data-username="{{ account.username }}">
            DELETE
        </div>
        {% endif %}
        <div class="cr-btn clickable">
            SAVE
        </div>
    </div>
</div>
