{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "primary/head_content_slim.html" %}
</head>

<body>
    <!-- Wave Animation -->
    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>

    <div class="main">
        <div class="default-box" data-aos="zoom-in" data-aos-duration="1000">
            <div class="default-box-header">
                <img src="{% static 'images/conreq_logo.png' %}" class="logo">
            </div>

            <div class="centered">
                <h1>PASSWORD RESET SENT</h1>
                <h2>Reset email has been sent.</h2>
                <p>
                    We’ve emailed you instructions for setting your password, if an account exists with the details you
                    entered. You
                    should receive them shortly.
                </p>
                <p>
                    If you don’t receive an email, please make sure you’ve entered the correct information.
                    Additionally, make sure to check your spam folder.
                </p>
            </div>

        </div>
    </div>
</body>


</html>