{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "primary/head_content_slim.html" %}
</head>

<body>
    <!-- Wave Animation -->
    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>

    <div class="main">
        <div class="default-box" data-aos="zoom-in" data-aos-duration="1000">
            <div class="default-box-header">
                <img src="{% static 'images/conreq_logo.png' %}" class="logo">
            </div>

            {% if validlink %}
            <h1 class="centered">PASSWORD RESET</h1>
            <h2 class="centered">Please enter your new password.</h2>
            <form method="post" action="">
                {% csrf_token %}
                {{ form.new_password1.errors }}
                {{ form.new_password1 }}
                {{ form.new_password2.errors }}
                {{ form.new_password2 }}
                <input type="submit" value="Change my password" />
            </form>
            {% else %}
            <h1 class="centered">INVALID PASSWORD RESET</h1>
            <h2 class="centered">Key used or expired.</h2>
            <p>
                The password reset link was invalid, possibly because it has already been used. Please request a new
                password reset.
            </p>
            {% endif %}

        </div>
    </div>
</body>


</html>