{% load static %}

{% csrf_token %}
{% include "primary/loading_animation_container.html" %}
{% include "primary/searchbar.html" %}
<input id="page-name" type="hidden" value="{% if filter_name %}{{ filter_name }} {% endif %}{{ page_name }}">

<div class="viewport discover {% if all_cards %}viewport-masonry infinite-scroll{% endif %}">
    {% if not all_cards %}
    <div class="empty-viewport">
        No results were found!
    </div>
    {% endif %}

    {% for card in all_cards %}
    {% if card.poster_path and card.conreq_valid_id %}
    {% include "cards/poster.html" %}
    {% endif %}
    {% endfor %}
</div>