{% load static %}
{% include "primary/loading_animation_container.html" %}

<div class="searchbar form-inline">
    <input type="text" class="content-search" placeholder="Search..." autocomplete="off" autocorrect="off"
        autocapitalize="off" spellcheck="false" data-search-url="{% url 'search:main' %}" />
    <i class="fas fa-search clickable"></i>
</div>

<div class="viewport discover viewport-masonry infinite-scroll">
    {% if not all_cards %}
    <div class="empty-viewport">
        No results were found!
    </div>
    {% endif %}

    {% for card in all_cards %}
    {% if card.poster_path and card.conreq_valid_id %}
    {% include "cards/poster.html" %}
    {% endif %}
    {% endfor %}
</div>