{% load static %}
{% csrf_token %}
{% include "primary/loading_animation_container.html" %}
<input class="page-name" type="hidden" value="Manage Users">

<div class="viewport manage-users">
    <div class="table-wrapper">
        <div class="table-title-container">
            <div class="row">
                <h2 class="table-title">User Management</h2>
                <div class="standard-btn invite-user clickable"
                    data-generate-invite-url="{% url 'sign_up:generate_invite_code' %}"
                    data-sign-up-url="{% url 'sign_up:invite_code' %}">
                    <i class="fas fa-user-plus"></i>
                    Invite
                </div>
            </div>
        </div>
        <table class="table" data-pagination="true" data-search="true" data-search-highlight="true">
            <thead>
                <tr>
                    <th class="username" data-sortable="true">Username</th>
                    <th class="email" data-sortable="true">Email</th>
                    <th class="joined" data-sortable="true">Joined</th>
                    <th class="last-seen" data-sortable="true">Last Seen</th>
                    <th class="staff" data-sortable="true" data-searchable="false">Staff</th>
                    <th class="action" data-searchable="false"></th>
                </tr>
            </thead>
            <tbody>
                {% for account in users %}
                <tr>
                    <td class="username">{{ account.username }}</td>
                    <td class="email">{{ account.email }}</td>
                    <td class="joined">{{ account.date_joined|date:"Y-m-d @ H:i" }}</td>
                    <td class="last-seen">{{ account.last_login|date:"Y-m-d @ H:i" }}</td>
                    <td class="staff">{{ account.is_staff|yesno:"Yes,No" }}</td>
                    <td class="action">
                        {% if not account.profile.externally_authenticated %}
                        <div class="settings manage-user-btn clickable" title="Manage User"
                            data-modal-url="{% url 'manage_users:manage_modal' %}"
                            data-username="{{ account.username }}">
                            <i class="fas fa-cog"></i>
                        </div>
                        {% else %}
                        <div class="delete action-btn delete-user-btn clickable" title="Delete"
                            data-delete-url="{% url 'manage_users:delete' %}" data-username="{{ account.username }}">
                            <i class="fas fa-trash"></i>
                        </div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

    </div>
</div>