{% if recommended.results %}
<div class="more-info-recommendations grid-block contains-carousel collapse">
    <div class="bold more-info-head contains-carousel"> Recommendations
        <div class="recommended-carousel-controls carousel-controls tns-controls">
            <div class="recommended-previous"><i id="discover-fa" class="fas fa-angle-left"></i>
            </div>
            <div class="recommended-next"><i id="discover-fa" class="fas fa-angle-right"></i>
            </div>
        </div>
    </div>
    <div class="recommended-outer-container carousel-outer-container">
        <div class="recommended-inner-container carousel-inner-container">
            {% for card in recommended.results %}
            {% if card.poster_path and card.conreq_valid_id %}
            <div class="poster-container-wrapper">
                {% include "cards/tmdb.html" %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}