{% load static %}
{% load conreq_tags %}
{% load solo_tags %}
{% get_solo 'server_settings.ConreqConfig' as server_settings %}
{% csrf_token %}
{% include "primary/loading_animation_container.html" %}
<input class="page-name" type="hidden" value="{% firstof content.title content.name 'Unknown' %}">

<div class="viewport more-info">
    <div class="more-info-topbar">

        <div class="left-group">
            <!-- Poster Image -->
            <div class="more-info-poster-container">
                <img src="{% static 'images/transparent.png' %}" data-src="{% firstof content.poster_path '' %}"
                    class="more-info-poster lazy {% if content.poster_path %}clickable{% endif %}"
                    data-contains-img="{% if content.poster_path %}true{% endif %}" draggable="false"
                    alt="{% firstof content.title content.name 'Unknown' %}">

                <!-- Movie View Collection Button -->
                {% if content.belongs_to_collection %}
                <div class="more-info-collection-btn no-highlighting clickable">VIEW COLLECTION </div>
                {% endif %}
            </div>
        </div>

        <div class="right-group">
            <div class="more-info-main-info">
                <!-- Title and Score -->
                <div class="main-title">{% firstof content.title content.name "Unknown" %}</div>
                <div class="main-rating no-highlighting">
                    <div class="inline bold"> SCORE: </div>
                    <div class="inline light rating">
                        {% firstof content.vote_average "-" %} / 10 </div>
                </div>

                <!-- "Available" and "View Episodes" buttons -->
                {% if content.availability == "Available" %}
                {% if content_type == "movie" and server_settings.radarr_enabled %}
                <div class="standard-btn box-shadow no-highlighting available"> AVAILABLE </div>
                {% elif content_type == "tv" and server_settings.sonarr_enabled %}
                <div class="standard-btn series-modal-btn view-episodes box-shadow no-highlighting clickable"
                    data-content-type="tv" data-tmdb-id="{{content.id}}"
                    data-modal-url="{% url 'more_info:series_modal' %}">
                    <i class="fas fa-plus"></i>
                    VIEW EPISODES
                </div>
                {% endif %}

                <!-- "Request" buttons -->
                {% elif content.availability != "Available" %}
                {% if content_type == "movie" and server_settings.radarr_enabled %}
                <div class="standard-btn request-btn box-shadow no-highlighting clickable"
                    data-request-url="{% url 'user_requests:request_content' %}" data-content-type="movie"
                    data-tmdb-id="{{content.id}}">
                    <i class="fas fa-plus"></i>
                    REQUEST
                </div>
                {% elif content_type == "tv" and server_settings.sonarr_enabled %}
                <div class="standard-btn series-modal-btn box-shadow no-highlighting clickable" data-content-type="tv"
                    data-tmdb-id="{{content.id}}" data-modal-url="{% url 'more_info:series_modal' %}">
                    <i class="fas fa-plus"></i>
                    REQUEST
                </div>
                {% endif %}
                {% endif %}

                <!-- "Report" button -->
                {% if content_type == "movie" and server_settings.radarr_enabled %}
                <div class="standard-btn report-modal-btn box-shadow no-highlighting clickable"
                    data-tmdb-id="{{content.id}}" data-content-type="{{content_type}}"
                    data-modal-url="{% url 'issue_reporting:report_issue_modal' %}">
                    <i class="fas fa-exclamation-circle"></i>
                    ISSUE
                </div>
                {% elif content_type == "tv" and server_settings.sonarr_enabled %}
                <div class="standard-btn report-selection-modal-btn box-shadow no-highlighting clickable"
                    data-tmdb-id="{{content.id}}" data-content-type="{{content_type}}"
                    data-modal-url="{% url 'more_info:series_modal' %}">
                    <i class="fas fa-exclamation-circle"></i>
                    ISSUE
                </div>
                {% endif%}

            </div>

            <div class="more-info-overview">
                <div class="more-info-summary">
                    <div class="bold section-title"> Overview </div>
                    {% firstof content.overview "No summary available."%}
                </div>
            </div>

        </div>
    </div>

    <!-- Quick Info Section -->
    <div class="more-info-quick-info-container">
        <div class="more-info-quick-info collapse">
            {% if content.original_name and content.original_name != content.name %}
            <div class="quick-info-block">
                <div class="quick-info bold"> Original Name </div>
                <div class="quick-info"> {{content.original_name}} </div>
            </div>
            {% endif %}

            <!-- Availability -->
            <div class="quick-info-block availability">
                <div class="quick-info bold"> Availabity </div>
                <div class="quick-info">
                    {% if content.availability == "Available" %} Available
                    <div class="inline-availablity-dot green"> </div>
                    {% elif content.availability == "Partial" %} Partial
                    <div class="inline-availablity-dot yellow"> </div>
                    {% else %} Not Downloaded
                    <div class="inline-availablity-dot red"> </div>
                    {% endif %}
                </div>
            </div>

            <!-- Request Status -->
            <div class="quick-info-block">
                <div class="quick-info bold"> Requested </div>
                <div class="quick-info">
                    <div class="" id="movie-request-status">
                        {{ requested|yesno:"Yes,No" }}
                    </div>
                </div>
            </div>

            <!-- Release Status -->
            {% if content.status %}
            <div class="quick-info-block">
                <div class="quick-info bold"> Release Status </div>
                <div class="quick-info"> {{content.status}} </div>
            </div>
            {% endif %}

            <!-- Content Type -->
            <div class="quick-info-block">
                <div class="quick-info bold"> Content Type </div>
                {% if content_type == "movie" %}
                <a href="{% viewport_url 'discover:movies' %}">
                    <div class="quick-info-btn no-highlighting">
                        Movie
                    </div>
                </a>
                {% elif content_type == "tv" %}
                <a href="{% viewport_url 'discover:tv' %}">
                    <div class="quick-info-btn no-highlighting">
                        Television
                    </div>
                </a>
                {% endif %}
            </div>

            <!-- Genres -->
            {% if content.genres %}
            <div class="quick-info-block">
                <div class="quick-info bold"> Genres </div>
                <div class="quick-info">
                    {% for genre in content.genres %}
                    {% if content_type == "movie" %}
                    <a href="{% viewport_url 'discover:movies' %}?filter=custom&with_genres={{genre.id}}">
                        <div class="quick-info-btn no-highlighting"> {{ genre.name }} </div>
                    </a>
                    {% elif content_type == "tv" %}
                    <a href="{% viewport_url 'discover:tv' %}?filter=custom&with_genres={{genre.id}}">
                        <div class="quick-info-btn no-highlighting"> {{ genre.name }} </div>
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            <!-- Movie Year -->
            {% if content.year %}
            <div class="quick-info-block">
                <div class="quick-info bold"> Year </div>
                <div class="quick-info"> {{content.year}} </div>
            </div>
            {% endif %}

            <!-- TV First Air Date -->
            {% if content.first_air_date_formatted %}
            <div class="quick-info-block">
                <div class="quick-info bold"> First Aired </div>
                <div class="quick-info"> {{content.first_air_date_formatted}} </div>
            </div>
            {% endif %}

            <!-- TV Last Air Date -->
            {% if content.last_air_date_formatted %}
            <div class="quick-info-block">
                <div class="quick-info bold"> Last Aired </div>
                <div class="quick-info"> {{content.last_air_date_formatted}} </div>
            </div>
            {% endif %}

            <!-- TV Next Air Date -->
            {% if content.next_air_date_formatted %}
            <div class="quick-info-block">
                <div class="quick-info bold"> Next Airing </div>
                <div class="quick-info"> {{content.next_air_date_formatted}} </div>
            </div>
            {% endif %}

            <!-- Release Date -->
            {% if content.release_date_formatted %}
            <div class="quick-info-block">
                <div class="quick-info bold"> Release Date </div>
                <div class="quick-info"> {{content.release_date_formatted}} </div>
            </div>
            {% endif %}

            <!-- Spoken Languages -->
            {% if content.spoken_languages %}
            <div class="quick-info-block">
                <div class="quick-info bold"> Languages </div>
                <div class="quick-info">
                    {% for language in content.spoken_languages %}
                    {% if content_type == "movie" %}
                    <a
                        href="{% viewport_url 'discover:movies' %}?filter=custom&with_original_language={{language.iso_639_1}}">
                        <div class="quick-info-btn no-highlighting">
                            {% firstof language.english_name language.name %}
                        </div>
                    </a>
                    {% elif content_type == "tv" %}
                    <a
                        href="{% viewport_url 'discover:tv' %}?filter=custom&with_original_language={{language.iso_639_1}}">
                        <div class="quick-info-btn no-highlighting">
                            {% firstof language.english_name language.name %}
                        </div>
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            <!-- Movie Runtime -->
            {% if content.runtime %}
            <div class="quick-info-block">
                <div class="quick-info bold"> Runtime </div>
                <div class="quick-info"> {{content.runtime}} </div>
            </div>
            {% endif %}

            <!-- Movie Budget -->
            {% if content.budget %}
            <div class="quick-info-block">
                <div class="quick-info bold"> Budget </div>
                <div class="quick-info"> ${{content.budget}} </div>
            </div>
            {% endif %}

            <!-- Movie Revenue -->
            {% if content.revenue %}
            <div class="quick-info-block">
                <div class="quick-info bold"> Revenue </div>
                <div class="quick-info"> ${{content.revenue}} </div>
            </div>
            {% endif %}

            <!-- Movie Production Companies -->
            {% if content.production_companies %}
            <div class="quick-info-block">
                <div class="quick-info bold"> Production Companies </div>
                <div class="quick-info">
                    {% for company in content.production_companies %}
                    {% if content_type == "tv" %}
                    <a href="{% viewport_url 'discover:tv' %}?filter=custom&with_companies={{company.id}}">
                        <div class="quick-info-btn no-highlighting"> {{company.name}} </div>
                    </a>
                    {% elif content_type == "movie" %}
                    <a href="{% viewport_url 'discover:movies' %}?filter=custom&with_companies={{company.id}}">
                        <div class="quick-info-btn no-highlighting"> {{company.name}} </div>
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            <!-- TV Networks -->
            {% if content.networks %}
            <div class="quick-info-block">
                <div class="quick-info bold"> Networks </div>
                <div class="quick-info">
                    {% for network in content.networks %}
                    <a href="{% viewport_url 'discover:tv' %}?filter=custom&with_networks={{network.id}}">
                        <div class="quick-info-btn no-highlighting">
                            {% firstof network.name %}
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            <!-- Tags -->
            {% if content.keywords.results or content.keywords.keywords %}
            <div class="quick-info-block">
                <div class="quick-info bold"> Tags </div>
                <div class="quick-info">
                    <!-- TV -->
                    {% if content.keywords.results %}
                    {% for keyword in content.keywords.results %}
                    <a href="{% viewport_url 'discover:tv' %}?filter=custom&with_keywords={{keyword.id}}">
                        <div class="quick-info-btn no-highlighting"> {{keyword.name}} </div>
                    </a>
                    {% endfor %}

                    <!-- Movies -->
                    {% elif content.keywords.keywords %}
                    {% for keyword in content.keywords.keywords %}
                    <a href="{% viewport_url 'discover:movies' %}?filter=custom&with_keywords={{keyword.id}}">
                        <div class="quick-info-btn no-highlighting"> {{keyword.name}} </div>
                    </a>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            {% endif %}

        </div>

        <!-- View More Button -->
        <div class="quick-info-read-more-btn no-highlighting clickable">
            MORE DETAILS <i class="fas fa-caret-down"></i>
        </div>
    </div>

    <!-- Videos and Trailers -->
    {% if content.videos.results %}
    <div class="more-info-videos carousel">
        <div class="bold section-title"> Videos and Trailers
            <div class="videos-carousel-controls carousel-controls tns-controls">
                <div class="carousel-previous"><i id="discover-fa" class="fas fa-angle-left"></i>
                </div>
                <div class="carousel-next"><i id="discover-fa" class="fas fa-angle-right"></i>
                </div>
            </div>
        </div>
        <div class="videos-outer-container carousel-outer-container">
            <div class="videos-inner-container carousel-inner-container">
                {% for video in content.videos.results %} {% if video.site == "YouTube" %}
                <div class="videoContainer-wrapper">
                    <div class="youtube-player" data-video-key="{{video.key}}"></div>
                </div>
                {% endif %} {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Collections -->
    {% if collection_id %}
    <div id="collection_loader" data-url="{% url 'more_info:collection' %}?collection_id={{collection_id}}">
    </div>
    {% endif %}

    <!-- Recommendations -->
    <div id="recommended_loader"
        data-url="{% url 'more_info:recommended' %}?tmdb_id={{content.id}}&content_type={{content_type}}">
    </div>

    <!-- Cast -->
    {% if content.credits.cast %}
    <div class="more-info-cast carousel">
        <div class="bold section-title"> Cast Members
            <div class="cast-carousel-controls carousel-controls tns-controls">
                <div class="carousel-previous"><i id="discover-fa" class="fas fa-angle-left"></i>
                </div>
                <div class="carousel-next"><i id="discover-fa" class="fas fa-angle-right"></i>
                </div>
            </div>
        </div>
        <div class="cast-outer-container carousel-outer-container">
            <div class="cast-inner-container carousel-inner-container">
                {% for card in content.credits.cast %}
                <div class="poster-container-wrapper">
                    {% include "cards/person.html" %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Production Staff -->
    {% if content.credits.crew %}
    <div class="more-info-crew carousel">
        <div class="bold section-title"> Production Staff
            <div class="crew-carousel-controls carousel-controls tns-controls">
                <div class="carousel-previous"><i id="discover-fa" class="fas fa-angle-left"></i>
                </div>
                <div class="carousel-next"><i id="discover-fa" class="fas fa-angle-right"></i>
                </div>
            </div>
        </div>
        <div class="crew-outer-container carousel-outer-container">
            <div class="crew-inner-container carousel-inner-container">
                {% for card in content.credits.crew %}
                <div class="poster-container-wrapper">
                    {% include "cards/person.html" %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Artwork -->
    {% if content.images.backdrops %}
    <div class="more-info-images carousel">
        <div class="bold section-title"> Artwork and Images
            <div class="artwork-carousel-controls carousel-controls tns-controls">
                <div class="carousel-previous"><i id="discover-fa" class="fas fa-angle-left"></i>
                </div>
                <div class="carousel-next"><i id="discover-fa" class="fas fa-angle-right"></i>
                </div>
            </div>
        </div>
        <div class="artwork-outer-container carousel-outer-container">
            <div class="artwork-inner-container carousel-inner-container">
                {% for image in content.images.backdrops %}
                <div class="artwork-container-wrapper">
                    {% include "cards/artwork.html" %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Reviews -->
    {% if content.reviews.results %}
    <div class="more-info-reviews carousel">
        <div class="bold section-title"> Reviews
        </div>
        <div class="reviews-outer-container carousel-outer-container">
            <div class="reviews-inner-container carousel-inner-container">
                {% for review in content.reviews.results %}
                {% include "cards/review.html" %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

</div>

<!-- Background Image -->
<div class="movie-backdrop-container" data-aos="fade-down" data-aos-delay="550" data-aos-duration="1500">
    <div class="backdrop-tint"></div>
    <img src="{% static 'images/transparent.png' %}" data-src="{% firstof content.backdrop_path content.backdropPath %}"
        class="more-info-backdrop lazy" alt="">
    <div class="backdrop-placeholder-gradient"></div>
</div>