{% if collection.parts %}
<div class="more-info-collection grid-block contains-carousel collapse">
    <div class="bold more-info-head contains-carousel"> {{collection.name}}
        <div class="collection-carousel-controls carousel-controls tns-controls">
            <div class="collection-previous"><i id="discover-fa" class="fas fa-angle-left"></i>
            </div>
            <div class="collection-next"><i id="discover-fa" class="fas fa-angle-right"></i>
            </div>
        </div>
    </div>
    <div class="collection-outer-container carousel-outer-container">
        <div class="collection-inner-container carousel-inner-container">
            {% for card in collection.parts %}
            <div class="poster-container-wrapper">
                {% include "cards/tmdb.html" %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}