{% load static %}

{% csrf_token %}
{% include "primary/loading_animation_container.html" %}
<input id="page-name" type="hidden" value="{{page_name}}">

<div class="viewport requests {% if all_cards %}viewport-masonry{% endif %}">
    {% if not all_cards %}
    <div class="empty-viewport">
        No requests were found! Try requesting something first!
    </div>
    {% endif %}

    {% for card in all_cards %}
    {% if card %}
    {% include "cards/poster.html" %}
    {% endif %}
    {% endfor %}
</div>