{% load static %}
{% include "primary/loading_animation_container.html" %}
<div class="viewport requests viewport-masonry">
    {% if all_cards %}
    {% for card in all_cards %}

    {% if card %}
    {% include "cards/sonarr_radarr.html" %}
    {% endif %}

    {% endfor %}
    {% endif %}

    {% if not all_cards %}
    <div class="empty-viewport">
        No requests were found! Try requesting something first!
    </div>

    {% elif 7 > all_cards|length %}
    {% for x in "1234567" %}
    <div class="masonry-item poster-container too-few-results">
        Tab feeling empty? Request more content to fill it up!
    </div>
    {% endfor %}
    {% endif %}
</div>