{% load static %}
{% load solo_tags %}
{% load conreq_tags %}
{% get_solo 'server_settings.ConreqConfig' as server_settings %}
{% include "primary/loading_animation_container.html" %}
{% include "primary/searchbar.html" %}
<input class="page-name" type="hidden"
    value="Search {{search_query}}{% if content_type %} ({{ content_type}}){% endif %}">

<div class="viewport search {% if all_cards %}viewport-masonry infinite-scroll{% endif %}">
    {% if not all_cards|contains_valid_id %}
    <div class="empty-viewport">
        No search results were found for "{{search_query}}"!
    </div>
    {% endif %}

    {% for card in all_cards %}
    {% if card.conreq_valid_id %}
    {% include "cards/poster.html" %}
    {% endif %}
    {% endfor %}
</div>