{% load static %}
{% load solo_tags %}
{% get_solo 'server_settings.ConreqConfig' as server_settings %}
{% csrf_token %}
{% include "primary/loading_animation_container.html" %}
{% include "primary/searchbar.html" %}
<input id="page-name" type="hidden" value="Search {{search_query}}">

<div class="viewport search {% if all_cards %}viewport-masonry{% endif %}">
    {% if not all_cards %}
    <div class="empty-viewport">
        {% if not server_settings.sonarr_enabled or not server_settings.radarr_enabled %}

        {% if not server_settings.sonarr_enabled %}
        <div>Sonarr is disabled, cannot show TV results.</div>
        {% endif %}
        {% if not server_settings.sonarr_enabled %}
        <div>Radarr is disabled, cannot show Movie results.</div>
        {% endif %}

        {% else %}
        No search results were found for "{{search_query}}"!
        {% endif %}
    </div>
    {% endif %}

    {% for card in all_cards %}
    {% include "cards/poster.html" %}
    {% endfor %}
</div>