{% load solo_tags %}
{% load djversion_tags %}
{% load static %}
{% get_solo 'server_settings.ConreqConfig' as server_settings %}
{% project_version as VERSION %}

{% csrf_token %}
{% include "primary/loading_animation_container.html" %}
<input id="page-name" type="hidden" value="Server Settings">

<div class="viewport server settings" data-url="{% url 'server_settings:update_settings' %}">

    <div class="settings-group">
        <div class="settings-group-title line-clamp-1 bold">Basic Configuration</div>
        <div class="settings-input-group">
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Application Name</div>
                <div class="text-input-container">
                    <input type="text" class="settings-item small-text-input admin" placeholder="ex. RequestCentral"
                        autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                        data-setting-name="Conreq Application Name" value="{{ server_settings.conreq_app_name }}" />
                </div>
            </div>
            <!-- <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Application URL/Web Domain</div>
                <div class="text-input-container">
                    <input type="text" class="settings-item small-text-input admin"
                        placeholder="ex. https://conreq.example.com" autocomplete="off" autocorrect="off"
                        autocapitalize="off" spellcheck="false" data-setting-name="Conreq Application URL/Web Domain"
                        value="{{ server_settings.conreq_app_url }}" />
                </div>
            </div> -->
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">API Key</div>
                <div class="text-input-container">
                    <div class="settings-item text-display-only">
                        <div class="settings-item-text line-clamp-1" id="conreq-api-key">
                            {{ server_settings.conreq_api_key }}
                        </div>
                        <i class="fas fa-sync clickable refresh-conreq-api" data-setting-name="Conreq API Key"></i>
                    </div>
                </div>
            </div>
            <!-- <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Language</div>
                <div class="text-input-container">
                    <input type="text" class="settings-item small-text-input admin" placeholder="Dropdown Menu or Modal"
                        autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                        data-setting-name="Conreq Language" value="{{ server_settings.conreq_language }}" />
                </div>
            </div> -->
            <!-- <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Logo Image</div>
                <div class="text-input-container">
                    <input type="text" class="settings-item small-text-input admin"
                        placeholder="----filename---- ||Upload Btn||" autocomplete="off" autocorrect="off"
                        autocapitalize="off" spellcheck="false" data-setting-name="Conreq Logo Image"
                        value="{{ server_settings.conreq_app_logo.name }}" />
                </div>
            </div> -->
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Custom CSS</div>
                <div class="text-input-container">
                    <input type="text" class="settings-item small-text-input admin"
                        placeholder="ex. /static/my_styles.css" autocomplete="off" autocorrect="off"
                        autocapitalize="off" spellcheck="false" data-setting-name="Conreq Custom CSS"
                        value="{{ server_settings.conreq_custom_css }}" />
                </div>
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Custom JavaScript</div>
                <div class="text-input-container">
                    <input type="text" class="settings-item small-text-input admin"
                        placeholder="ex. /static/my_scripts.js" autocomplete="off" autocorrect="off"
                        autocapitalize="off" spellcheck="false" data-setting-name="Conreq Custom JS"
                        value="{{ server_settings.conreq_custom_js }}" />
                </div>
            </div>
        </div>
        <div class="settings-input-group">
            <!-- <div class="settings-item-group toggler">
                <div class="settings-item admin pretty p-switch p-fill"
                    data-setting-name="Conreq Automatically Resolve Issues">
                    <input type="checkbox" {% if server_settings.conreq_auto_resolve_issues %} checked {% endif %} />
                    <div class="state">
                        <label>Automatically Resolve Issues</label>
                    </div>
                </div>
            </div> -->
            <!-- <div class="settings-item-group toggler">
                <div class="settings-item admin pretty p-switch p-fill"
                    data-setting-name="Conreq Allow Guest Login/Requests">
                    <input type="checkbox" {% if server_settings.conreq_guest_login %} checked {% endif %} />
                    <div class="state">
                        <label>Allow Guest Login/Requests</label>
                    </div>
                </div>
            </div> -->
            <div class="settings-item-group toggler">
                <div class="settings-item admin pretty p-switch p-fill"
                    data-setting-name="Conreq Simple/Minimal Poster Cards">
                    <input {% if server_settings.conreq_simple_posters %} checked {% endif %} type="checkbox"
                        class="reload-needed" />
                    <div class="state">
                        <label>Simple/Minimal Poster Cards</label>
                    </div>
                </div>
            </div>
            <div class="settings-item-group toggler">
                <div class="settings-item admin pretty p-switch p-fill" data-setting-name="Conreq Dark Theme">
                    <input {% if server_settings.conreq_dark_theme %} checked {% endif %} type="checkbox"
                        class="reload-needed" />
                    <div class="state">
                        <label>Dark Theme</label>
                    </div>
                </div>
            </div>
            <div class="settings-item-group toggler">
                <div class="settings-item admin pretty p-switch p-fill"
                    data-setting-name="Conreq Organizr User Authentication">
                    <input {% if server_settings.conreq_http_header_auth %} checked {% endif %} type="checkbox" />
                    <div class="state">
                        <label>Organizr User Authentication</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="settings-group">
        <div class="settings-group-title line-clamp-1 bold">Sonarr Configuration</div>
        <div class="settings-input-group">
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">URL</div>
                <div class="text-input-container">
                    <input type="url" class="settings-item small-text-input admin"
                        placeholder="ex. http://192.168.86.50:8989" autocomplete="off" autocorrect="off"
                        autocapitalize="off" spellcheck="false" data-setting-name="Sonarr URL"
                        value="{{ server_settings.sonarr_url }}" />
                </div>
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">API Key</div>
                <div class="text-input-container">
                    <input type="text" class="settings-item small-text-input admin" placeholder="Key" autocomplete="off"
                        autocorrect="off" autocapitalize="off" spellcheck="false" data-setting-name="Sonarr API Key"
                        value="{{ server_settings.sonarr_api_key }}" />
                </div>
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Anime Quality Profile</div>
                <div
                    class="text-input-container dropdown no-highlighting
                {% if sonarr_quality_profiles %} clickable {% endif %} {% if not current_sonarr_anime_quality_profile and server_settings.sonarr_enabled %}error{% endif %}">
                    <div class="settings-item text-display-only dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <div class="settings-item-text line-clamp-1 ">
                            {{ current_sonarr_anime_quality_profile }}
                            {% if not current_sonarr_anime_quality_profile and server_settings.sonarr_enabled %}
                            REQUIRED
                            {% endif %}
                        </div>
                    </div>
                    {% if sonarr_quality_profiles %}
                    <div class="dropdown-menu" data-setting-name="Sonarr Anime Quality Profile">
                        {% for dropdown_item in sonarr_quality_profiles %}
                        {% include "dropdown/item.html" %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">TV Quality Profile</div>
                <div
                    class="text-input-container dropdown no-highlighting
                {% if sonarr_quality_profiles %} clickable {% endif %} {% if not current_sonarr_tv_quality_profile and server_settings.sonarr_enabled %}error{% endif %}">
                    <div class="settings-item text-display-only dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <div class="settings-item-text line-clamp-1 ">
                            {{ current_sonarr_tv_quality_profile }}
                            {% if not current_sonarr_tv_quality_profile and server_settings.sonarr_enabled %}
                            REQUIRED
                            {% endif %}
                        </div>
                    </div>
                    {% if sonarr_quality_profiles %}
                    <div class="dropdown-menu" data-setting-name="Sonarr TV Quality Profile">
                        {% for dropdown_item in sonarr_quality_profiles %}
                        {% include "dropdown/item.html" %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Anime Folder Path</div>
                <div
                    class="text-input-container dropdown no-highlighting
                {% if sonarr_folders %} clickable {% endif %} {% if not current_sonarr_anime_folder and server_settings.sonarr_enabled %}error{% endif %}">
                    <div class="settings-item text-display-only dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <div class="settings-item-text line-clamp-1 error">
                            {{ current_sonarr_anime_folder }}
                            {% if not current_sonarr_anime_folder and server_settings.sonarr_enabled %}
                            REQUIRED
                            {% endif %}
                        </div>
                    </div>
                    {% if sonarr_folders %}
                    <div class="dropdown-menu" data-setting-name="Sonarr Anime Folder Path">
                        {% for dropdown_item in sonarr_folders %}
                        {% include "dropdown/item.html" %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">TV Folder Path</div>
                <div
                    class="text-input-container dropdown no-highlighting
                {% if sonarr_folders %} clickable {% endif %} {% if not current_sonarr_tv_folder and server_settings.sonarr_enabled %}error{% endif %}">
                    <div class="settings-item text-display-only dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <div class="settings-item-text line-clamp-1 ">
                            {{ current_sonarr_tv_folder }}
                            {% if not current_sonarr_tv_folder and server_settings.sonarr_enabled %}
                            REQUIRED
                            {% endif %}
                        </div>
                    </div>
                    {% if sonarr_folders %}
                    <div class="dropdown-menu" data-setting-name="Sonarr TV Folder Path">
                        {% for dropdown_item in sonarr_folders %}
                        {% include "dropdown/item.html" %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>

        </div>


        <div class="settings-input-group">
            <div class="settings-item-group toggler">
                <div class="settings-item admin pretty p-switch p-fill" data-setting-name="Enable Sonarr">
                    <input type="checkbox" {% if server_settings.sonarr_enabled %} checked {% endif %} />
                    <div class="state">
                        <label>Enable Sonarr</label>
                    </div>
                </div>
            </div>
            <div class="settings-item-group toggler">
                <div class="settings-item admin pretty p-switch p-fill" data-setting-name="Sonarr Season Folders">
                    <input type="checkbox" {% if server_settings.sonarr_season_folders %} checked {% endif %} />
                    <div class="state">
                        <label>Season Folders</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="settings-group">
        <div class="settings-group-title line-clamp-1 bold">Radarr Configuration</div>
        <div class="settings-input-group">
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">URL</div>
                <div class="text-input-container">
                    <input type="url" class="settings-item small-text-input admin"
                        placeholder="ex. http://192.168.86.50:7878" autocomplete="off" autocorrect="off"
                        autocapitalize="off" spellcheck="false" data-setting-name="Radarr URL"
                        value="{{ server_settings.radarr_url }}" />
                </div>
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">API Key</div>
                <div class="text-input-container">
                    <input type="text" class="settings-item small-text-input admin" placeholder="Key" autocomplete="off"
                        autocorrect="off" autocapitalize="off" spellcheck="false" data-setting-name="Radarr API Key"
                        value="{{ server_settings.radarr_api_key }}" />
                </div>
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Anime Quality Profile</div>
                <div
                    class="text-input-container dropdown no-highlighting
                {% if radarr_quality_profiles %} clickable {% endif %} {% if not current_radarr_anime_quality_profile and server_settings.radarr_enabled %}error{% endif %}">
                    <div class="settings-item text-display-only dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <div class="settings-item-text line-clamp-1 ">
                            {{ current_radarr_anime_quality_profile }}
                            {% if not current_radarr_anime_quality_profile and server_settings.radarr_enabled %}
                            REQUIRED
                            {% endif %}
                        </div>
                    </div>
                    {% if radarr_quality_profiles %}
                    <div class="dropdown-menu" data-setting-name="Radarr Anime Quality Profile">
                        {% for dropdown_item in radarr_quality_profiles %}
                        {% include "dropdown/item.html" %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Movie Quality Profile</div>
                <div
                    class="text-input-container dropdown no-highlighting
                {% if radarr_quality_profiles %} clickable {% endif %} {% if not current_radarr_movies_quality_profile and server_settings.radarr_enabled %}error{% endif %}">
                    <div class="settings-item text-display-only dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <div class="settings-item-text line-clamp-1 ">
                            {{ current_radarr_movies_quality_profile }}
                            {% if not current_radarr_movies_quality_profile and server_settings.radarr_enabled %}
                            REQUIRED
                            {% endif %}
                        </div>
                    </div>
                    {% if radarr_quality_profiles %}
                    <div class="dropdown-menu" data-setting-name="Radarr Movies Quality Profile">
                        {% for dropdown_item in radarr_quality_profiles %}
                        {% include "dropdown/item.html" %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Anime Folder Path</div>
                <div
                    class="text-input-container dropdown no-highlighting
                {% if radarr_folders %} clickable {% endif %} {% if not current_radarr_anime_folder and server_settings.radarr_enabled %}error{% endif %}">
                    <div class="settings-item text-display-only dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <div class="settings-item-text line-clamp-1 ">
                            {{ current_radarr_anime_folder }}
                            {% if not current_radarr_anime_folder and server_settings.radarr_enabled %}
                            REQUIRED
                            {% endif %}
                        </div>
                    </div>
                    {% if radarr_folders %}
                    <div class="dropdown-menu" data-setting-name="Radarr Anime Folder Path">
                        {% for dropdown_item in radarr_folders %}
                        {% include "dropdown/item.html" %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Movie Folder Path</div>
                <div
                    class="text-input-container dropdown no-highlighting
                {% if radarr_folders %} clickable {% endif %} {% if not current_radarr_movies_folder and server_settings.radarr_enabled %}error{% endif %}">
                    <div class="settings-item text-display-only dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <div class="settings-item-text line-clamp-1 ">
                            {{ current_radarr_movies_folder }}
                            {% if not current_radarr_movies_folder and server_settings.radarr_enabled %}
                            REQUIRED
                            {% endif %}
                        </div>
                    </div>
                    {% if radarr_folders %}
                    <div class="dropdown-menu" data-setting-name="Radarr Movies Folder Path">
                        {% for dropdown_item in radarr_folders %}
                        {% include "dropdown/item.html" %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="settings-input-group">
            <div class="settings-item-group toggler">
                <div class="settings-item admin pretty p-switch p-fill" data-setting-name="Enable Radarr">
                    <input type="checkbox" {% if server_settings.radarr_enabled %} checked {% endif %} />
                    <div class="state">
                        <label>Enable Radarr</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="settings-group">
        <div class="settings-group-title line-clamp-1 bold">About Conreq</div>
        <div class="settings-input-group">
            <div class="settings-item-group info">
                <div class="settings-item-title line-clamp-1 info">System Information</div>
                <div class="settings-item-details info">{{ os_platform }}</div>
            </div>
            <div class="settings-item-group info">
                <div class="settings-item-title line-clamp-1 info">Version</div>
                <div class="settings-item-details info">{{ VERSION }}</div>
            </div>
        </div>
    </div>

</div>