{% load solo_tags %}
{% load djversion_tags %}
{% load static %}
{% get_solo 'server_settings.ConreqConfig' as server_settings %}
{% project_version as VERSION %}
{% csrf_token %}
{% include "primary/loading_animation_container.html" %}
<input class="page-name" type="hidden" value="Server Settings">

<div class="viewport server settings" data-url="{% url 'server_settings:update_settings' %}">
    <!-- Conreq Server Settings Group -->
    <div class="settings-group">
        <div class="settings-group-title bold">Basic Configuration</div>
        <div class="settings-input-group">
            <div class="settings-item-group">
                <div class="text-input-title">API Key</div>
                <div class="text-input-container">
                    <div class="settings-item text-display-only">
                        <div class="settings-item-text line-clamp-1" id="conreq-api-key">
                            GENERATE
                        </div>
                    </div>
                </div>
            </div>
            <div class="settings-item-group">
                <div class="text-input-title">Custom CSS</div>
                <div class="text-input-container">
                    <input type="text" class="settings-item small-text-input admin"
                        placeholder="ex. /static/my_styles.css" autocomplete="off" autocorrect="off"
                        autocapitalize="off" spellcheck="false" data-setting-name="Conreq Custom CSS"
                        value="{{ server_settings.conreq_custom_css }}" />
                </div>
            </div>
            <div class="settings-item-group">
                <div class="text-input-title">Custom JavaScript</div>
                <div class="text-input-container">
                    <input type="text" class="settings-item small-text-input admin"
                        placeholder="ex. /static/my_scripts.js" autocomplete="off" autocorrect="off"
                        autocapitalize="off" spellcheck="false" data-setting-name="Conreq Custom JS"
                        value="{{ server_settings.conreq_custom_js }}" />
                </div>
            </div>
        </div>
        <div class="settings-input-group">
            <div class="settings-item-group toggler">
                <div class="settings-item admin pretty p-switch p-fill"
                    data-setting-name="Conreq Simple/Minimal Poster Cards">
                    <input {% if server_settings.conreq_simple_posters %} checked {% endif %} type="checkbox"
                        class="reload-needed" />
                    <div class="state">
                        <label>Simple/Minimal Poster Cards</label>
                    </div>
                </div>
            </div>
            <div class="settings-item-group toggler">
                <div class="settings-item admin pretty p-switch p-fill" data-setting-name="Conreq HTTP Auth">
                    <input {% if server_settings.conreq_http_header_auth %} checked {% endif %} type="checkbox" />
                    <div class="state">
                        <label>Organizr User Auth</label>
                    </div>
                </div>
            </div>
            <div class="settings-item-group toggler">
                <div class="settings-item admin pretty p-switch p-fill" data-setting-name="Conreq Allow TV Specials">
                    <input {% if server_settings.conreq_allow_tv_specials %} checked {% endif %} type="checkbox" />
                    <div class="state">
                        <label>Allow Requests for TV Specials</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Sonarr Settings Group -->
    <div class="settings-group">
        <div class="settings-group-title bold">Sonarr Configuration</div>
        <div class="settings-input-group">
            <div class="settings-item-group">
                <div class="text-input-title">URL</div>
                <div class="text-input-container">
                    <input type="url" class="settings-item small-text-input admin"
                        placeholder="ex. http://192.168.86.50:8989" autocomplete="off" autocorrect="off"
                        autocapitalize="off" spellcheck="false" data-setting-name="Sonarr URL"
                        value="{{ server_settings.sonarr_url }}" />
                </div>
            </div>
            <div class="settings-item-group">
                <div class="text-input-title">API Key</div>
                <div class="text-input-container">
                    <input type="text" class="settings-item small-text-input admin" placeholder="Key" autocomplete="off"
                        autocorrect="off" autocapitalize="off" spellcheck="false" data-setting-name="Sonarr API Key"
                        value="{{ server_settings.sonarr_api_key }}" />
                </div>
            </div>
            {% if server_settings.sonarr_enabled %}
            <div class="component-loader" data-url="{% url 'server_settings:sonarr_settings' %}">
                Loading...
            </div>
            {% endif %}
        </div>

        <div class="settings-input-group">
            <div class="settings-item-group toggler">
                <div class="settings-item admin pretty p-switch p-fill" data-setting-name="Enable Sonarr">
                    <input type="checkbox" {% if server_settings.sonarr_enabled %} checked {% endif %} />
                    <div class="state">
                        <label>Enable Sonarr</label>
                    </div>
                </div>
            </div>
            <div class="settings-item-group toggler">
                <div class="settings-item admin pretty p-switch p-fill" data-setting-name="Sonarr Season Folders">
                    <input type="checkbox" {% if server_settings.sonarr_season_folders %} checked {% endif %} />
                    <div class="state">
                        <label>Season Folders</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Radarr Settings Group -->
    <div class="settings-group">
        <div class="settings-group-title bold">Radarr Configuration</div>
        <div class="settings-input-group">
            <div class="settings-item-group">
                <div class="text-input-title">URL</div>
                <div class="text-input-container">
                    <input type="url" class="settings-item small-text-input admin"
                        placeholder="ex. http://192.168.86.50:7878" autocomplete="off" autocorrect="off"
                        autocapitalize="off" spellcheck="false" data-setting-name="Radarr URL"
                        value="{{ server_settings.radarr_url }}" />
                </div>
            </div>
            <div class="settings-item-group">
                <div class="text-input-title">API Key</div>
                <div class="text-input-container">
                    <input type="text" class="settings-item small-text-input admin" placeholder="Key" autocomplete="off"
                        autocorrect="off" autocapitalize="off" spellcheck="false" data-setting-name="Radarr API Key"
                        value="{{ server_settings.radarr_api_key }}" />
                </div>
            </div>

            {% if server_settings.radarr_enabled %}
            <div class="component-loader" data-url="{% url 'server_settings:radarr_settings' %}">
                Loading...
            </div>
            {% endif %}
        </div>

        <div class="settings-input-group">
            <div class="settings-item-group toggler">
                <div class="settings-item admin pretty p-switch p-fill" data-setting-name="Enable Radarr">
                    <input type="checkbox" {% if server_settings.radarr_enabled %} checked {% endif %} />
                    <div class="state">
                        <label>Enable Radarr</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- About Conreq -->
    <div class="settings-group">
        <div class="settings-group-title bold">About Conreq</div>
        <div class="settings-input-group">
            <div class="settings-item-group info">
                <div class="text-input-title info">System Information</div>
                <div class="settings-item-details info">{{ os_platform }}</div>
            </div>
            <div class="settings-item-group info">
                <div class="text-input-title info">Version</div>
                <div class="settings-item-details info">{{ VERSION }}</div>
            </div>
        </div>
    </div>

</div>