{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "head/content_slim.html" %}
</head>

<body>
    <div class="main">
        <div class="default-box" data-aos="zoom-in" data-aos-duration="1000">
            <div class="default-box-header">
                <img src="{% static 'images/conreq_logo.png' %}" alt="conreq logo" class="default-box-brand">
            </div>
            <form method="post" action="{% url 'sign_in' %}" class="sign-in-form">
                {% csrf_token %}
                <input placeholder="Username" autocapitalize="none" autocomplete="username" autofocus=""
                    id="id_username" maxlength="150" name="username" required="" type="text">
                <input placeholder="Password" autocapitalize="none" autocomplete="current-password" id="id_password"
                    name="password" required="" type="password">
                <input type="submit" value="Sign In">
                <input type="hidden" name="next" value="{{ next }}">
            </form>

            {% if form.errors %}
            <script>
                login_failed_toast_message();
            </script>
            {% endif %}
        </div>
        <div class="default-bg">
            <div class="default-bg-tint">
            </div>
        </div>
    </div>

    <!-- Wave Animation -->
    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
</body>

</html>