<div class="viewport viewport-settings">
    <div class="settings-group">
        <div class="settings-group-title bold">About Conreq</div>
        <div class="settings-input-group">
            <div class="settings-item-group info">
                <div class="settings-item-title line-clamp-1 info">System Information</div>
                <div class="settings-item-details info">Windows 10</div>
            </div>
            <div class="settings-item-group info">
                <div class="settings-item-title line-clamp-1 info">Conreq Revision</div>
                <div class="settings-item-details info">15225</div>
            </div>
            <div class="conreq-button check-update-button box-shadow no-highlighting">
                Check for Updates
            </div>
        </div>
    </div>

    <div class="settings-group">
        <div class="settings-group-title bold">Basic Configuration</div>
        <div class="settings-input-group">
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Base URL</div>
                <input type="text" class="settings-item small-input" placeholder="Temporary Text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Application Name</div>
                <input type="text" class="settings-item small-input" placeholder="Temporary Text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Application URL/Web Domain</div>
                <input type="text" class="settings-item small-input" placeholder="https://example.com" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">API Key</div>
                <input type="text" class="settings-item small-input" placeholder="Temporary Text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Language</div>
                <input type="text" class="settings-item small-input" placeholder="Temporary Text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Logo Image</div>
                <input type="text" class="settings-item small-input" placeholder="Temporary Text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Custom CSS Stylesheet</div>
                <input type="text" class="settings-item small-input" placeholder="Temporary Text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
            </div>
        </div>
        <div class="settings-input-group">
            <div class="settings-item-group">
                <div class="settings-item toggler pretty p-switch p-fill">
                    <input type="checkbox" />
                    <div class="state">
                        <label>Automatically Resolve Issues</label>
                    </div>
                </div>
            </div>
            <div class="settings-item-group">
                <div class="settings-item toggler pretty p-switch p-fill">
                    <input type="checkbox" />
                    <div class="state">
                        <label>Allow Guest Login/Requests</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="settings-group">
        <div class="settings-group-title bold">Sonarr Configuration</div>
        <div class="settings-input-group">
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">URL</div>
                <input type="text" class="settings-item small-input" placeholder="http://192.168.86.50:8989" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">API Key</div>
                <input type="text" class="settings-item small-input" placeholder="Temporary Text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Anime Quality Profile</div>
                <input type="text" class="settings-item small-input" placeholder="Temporary Text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">TV Quality Profile</div>
                <input type="text" class="settings-item small-input" placeholder="Temporary Text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Anime Folder Path</div>
                <input type="text" class="settings-item small-input" placeholder="Temporary Text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">TV Folder Path</div>
                <input type="text" class="settings-item small-input" placeholder="Temporary Text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
            </div>
        </div>
        <div class="settings-input-group">
            <div class="settings-item-group">
                <div class="settings-item toggler pretty p-switch p-fill">
                    <input type="checkbox" />
                    <div class="state">
                        <label>Season Folders</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="settings-group">
        <div class="settings-group-title bold">Radarr Configuration</div>
        <div class="settings-input-group">
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">URL</div>
                <input type="text" class="settings-item small-input" placeholder="http://192.168.86.50:8989" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">API Key</div>
                <input type="text" class="settings-item small-input" placeholder="Temporary Text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Anime Movies Quality Profile</div>
                <input type="text" class="settings-item small-input" placeholder="Temporary Text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Movies Quality Profile</div>
                <input type="text" class="settings-item small-input" placeholder="Temporary Text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Anime Movies Folder Path</div>
                <input type="text" class="settings-item small-input" placeholder="Temporary Text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Movies Folder Path</div>
                <input type="text" class="settings-item small-input" placeholder="Temporary Text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
            </div>
        </div>
    </div>

</div>