{% load solo_tags %}
{% get_solo 'settings.ConreqConfig' as server_settings %}
<div class="viewport viewport-settings" data-aos="fade-zoom-in" data-aos-duration="1500">
    <div class="settings-group">
        <div class="settings-group-title bold">About Conreq</div>
        <div class="settings-input-group">
            <div class="settings-item-group info">
                <div class="settings-item-title line-clamp-1 info">System Information</div>
                <div class="settings-item-details info">Windows 10</div>
            </div>
            <div class="settings-item-group info">
                <div class="settings-item-title line-clamp-1 info">Conreq Revision</div>
                <div class="settings-item-details info">0</div>
            </div>
            <div class="conreq-button check-update-button box-shadow no-highlighting">
                Check for Updates
            </div>
        </div>
    </div>

    <div class="settings-group">
        <div class="settings-group-title bold">Basic Configuration</div>
        <div class="settings-input-group">
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Base URL</div>
                <div class="text-input-container">
                    <input type="text" class="settings-item small-text-input admin" placeholder="ex. conreq/"
                        autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                        data-setting-name="Conreq Base URL" value="{{ server_settings.conreq_base_url }}" />
                </div>
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Application Name</div>
                <div class="text-input-container">
                    <input type="text" class="settings-item small-text-input admin" placeholder="ex. RequestCentral"
                        autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                        data-setting-name="Conreq Application Name" value="{{ server_settings.conreq_app_name }}" />
                </div>
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Application URL/Web Domain</div>
                <div class="text-input-container">
                    <input type="text" class="settings-item small-text-input admin"
                        placeholder="ex. https://conreq.example.com" autocomplete="off" autocorrect="off"
                        autocapitalize="off" spellcheck="false" data-setting-name="Conreq Application URL/Web Domain"
                        value="{{ server_settings.conreq_app_url }}" />
                </div>
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">API Key</div>
                <div class="text-input-container">
                    <input type="text" class="settings-item small-text-input admin"
                        placeholder="----Key---- ||Refresh Btn||" autocomplete="off" autocorrect="off"
                        autocapitalize="off" spellcheck="false" data-setting-name="Conreq API Key"
                        value="{{ server_settings.conreq_api_key }}" />
                </div>
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Language</div>
                <div class="text-input-container">
                    <input type="text" class="settings-item small-text-input admin" placeholder="Dropdown Menu or Modal"
                        autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                        data-setting-name="Conreq Language" value="{{ server_settings.conreq_language }}" />
                </div>
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Logo Image</div>
                <div class="text-input-container">
                    <input type="text" class="settings-item small-text-input admin"
                        placeholder="----filename---- ||Upload Btn||" autocomplete="off" autocorrect="off"
                        autocapitalize="off" spellcheck="false" data-setting-name="Conreq Logo Image"
                        value="{{ server_settings.conreq_app_logo.name }}" />
                </div>
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Custom CSS</div>
                <div class="text-input-container">
                    <input type="text" class="settings-item small-text-input admin"
                        placeholder="ex. https://example.com/my_custom_styles.css" autocomplete="off" autocorrect="off"
                        autocapitalize="off" spellcheck="false" data-setting-name="Conreq Custom CSS"
                        value="{{ server_settings.conreq_custom_css }}" />
                </div>
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Custom JavaScript</div>
                <div class="text-input-container">
                    <input type="text" class="settings-item small-text-input admin"
                        placeholder="ex. https://example.com/my_custom_styles.css" autocomplete="off" autocorrect="off"
                        autocapitalize="off" spellcheck="false" data-setting-name="Conreq Custom JS"
                        value="{{ server_settings.conreq_custom_js }}" />
                </div>
            </div>
        </div>
        <div class="settings-input-group">
            <div class="settings-item-group">
                <div class="settings-item toggler admin pretty p-switch p-fill"
                    data-setting-name="Conreq Automatically Resolve Issues">
                    <input type="checkbox" {% if server_settings.conreq_auto_resolve_issues %} checked {% endif %} />
                    <div class="state">
                        <label>Automatically Resolve Issues</label>
                    </div>
                </div>
            </div>
            <div class="settings-item-group">
                <div class="settings-item toggler admin pretty p-switch p-fill"
                    data-setting-name="Conreq Allow Guest Login/Requests">
                    <input type="checkbox" {% if server_settings.conreq_guest_login %} checked {% endif %} />
                    <div class="state">
                        <label>Allow Guest Login/Requests</label>
                    </div>
                </div>
            </div>
            <div class="settings-item-group">
                <div class="settings-item toggler admin pretty p-switch p-fill"
                    data-setting-name="Conreq Simple/Minimal Poster Cards">
                    <input type="checkbox" {% if server_settings.conreq_simple_posters %} checked {% endif %} />
                    <div class="state">
                        <label>Simple/Minimal Poster Cards</label>
                    </div>
                </div>
            </div>
            <div class="settings-item-group">
                <div class="settings-item toggler admin pretty p-switch p-fill" data-setting-name="Conreq Dark Theme">
                    <input type="checkbox" {% if server_settings.conreq_dark_theme %} checked {% endif %} />
                    <div class="state">
                        <label>Dark Theme</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="settings-group">
        <div class="settings-group-title bold">Sonarr Configuration</div>
        <div class="settings-input-group">
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">URL</div>
                <div class="text-input-container">
                    <input type="text" class="settings-item small-text-input admin"
                        placeholder="ex. http://192.168.86.50:8989" autocomplete="off" autocorrect="off"
                        autocapitalize="off" spellcheck="false" data-setting-name="Sonarr URL"
                        value="{{ server_settings.sonarr_url }}" />
                </div>
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">API Key</div>
                <div class="text-input-container">
                    <input type="text" class="settings-item small-text-input admin" placeholder="Key" autocomplete="off"
                        autocorrect="off" autocapitalize="off" spellcheck="false" data-setting-name="Sonarr API Key"
                        value="{{ server_settings.sonarr_api_key }}" />
                </div>
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Anime Quality Profile</div>
                <div class="text-input-container">
                    <input type="text" class="settings-item small-text-input admin" placeholder="Dropdown Menu or Modal"
                        autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                        data-setting-name="Sonarr Anime Quality Profile"
                        value="{{ server_settings.sonarr_anime_quality_profile }}" />
                </div>
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">TV Quality Profile</div>
                <div class="text-input-container">
                    <input type="text" class="settings-item small-text-input admin" placeholder="Dropdown Menu or Modal"
                        autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                        data-setting-name="Sonarr TV Quality Profile"
                        value="{{ server_settings.sonarr_tv_quality_profile }}" />
                </div>
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Anime Folder Path</div>
                <div class="text-input-container">
                    <input type="text" class="settings-item small-text-input admin" placeholder="Dropdown Menu or Modal"
                        autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                        data-setting-name="Sonarr Anime Folder Path"
                        value="{{ server_settings.sonarr_anime_folder }}" />
                </div>
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">TV Folder Path</div>
                <div class="text-input-container">
                    <input type="text" class="settings-item small-text-input admin" placeholder="Dropdown Menu or Modal"
                        autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                        data-setting-name="Sonarr TV Folder Path" value="{{ server_settings.sonarr_tv_folder }}" />
                </div>
            </div>
        </div>
        <div class="settings-input-group">
            <div class="settings-item-group">
                <div class="settings-item toggler admin pretty p-switch p-fill" data-setting-name="Enable Sonarr">
                    <input type="checkbox" {% if server_settings.sonarr_enabled %} checked {% endif %} />
                    <div class="state">
                        <label>Enable Sonarr</label>
                    </div>
                </div>
            </div>
            <div class="settings-item-group">
                <div class="settings-item toggler admin pretty p-switch p-fill"
                    data-setting-name="Sonarr Season Folders">
                    <input type="checkbox" {% if server_settings.sonarr_season_folders %} checked {% endif %} />
                    <div class="state">
                        <label>Season Folders</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="settings-group">
        <div class="settings-group-title bold">Radarr Configuration</div>
        <div class="settings-input-group">
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">URL</div>
                <div class="text-input-container">
                    <input type="text" class="settings-item small-text-input admin"
                        placeholder="ex. http://192.168.86.50:7878" autocomplete="off" autocorrect="off"
                        autocapitalize="off" spellcheck="false" data-setting-name="Radarr URL"
                        value="{{ server_settings.radarr_url }}" />
                </div>
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">API Key</div>
                <div class="text-input-container">
                    <input type="text" class="settings-item small-text-input admin" placeholder="Key" autocomplete="off"
                        autocorrect="off" autocapitalize="off" spellcheck="false" data-setting-name="Radarr API Key"
                        value="{{ server_settings.radarr_api_key }}" />
                </div>
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Anime Movies Quality Profile</div>
                <div class="text-input-container">
                    <input type="text" class="settings-item small-text-input admin" placeholder="Dropdown Menu or Modal"
                        autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                        data-setting-name="Radarr Anime Movies Quality Profile"
                        value="{{ server_settings.radarr_anime_quality_profile }}" />
                </div>
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Movies Quality Profile</div>
                <div class="text-input-container">
                    <input type="text" class="settings-item small-text-input admin" placeholder="Dropdown Menu or Modal"
                        autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                        data-setting-name="Radarr Movies Quality Profile"
                        value="{{ server_settings.radarr_movies_quality_profile }}" />
                </div>
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Anime Movies Folder Path</div>
                <div class="text-input-container">
                    <input type="text" class="settings-item small-text-input admin" placeholder="Dropdown Menu or Modal"
                        autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                        data-setting-name="Radarr Anime Movies Folder Path"
                        value="{{ server_settings.radarr_anime_folder }}" />
                </div>
            </div>
            <div class="settings-item-group">
                <div class="settings-item-title line-clamp-1">Movies Folder Path</div>
                <div class="text-input-container">
                    <input type="text" class="settings-item small-text-input admin" placeholder="Dropdown Menu or Modal"
                        autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                        data-setting-name="Radarr Movies Folder Path"
                        value="{{ server_settings.radarr_movies_folder }}" />
                </div>
            </div>
            <div class="settings-input-group">
                <div class="settings-item-group">
                    <div class="settings-item toggler admin pretty p-switch p-fill" data-setting-name="Enable Radarr">
                        <input type="checkbox" {% if server_settings.radarr_enabled %} checked {% endif %} />
                        <div class="state">
                            <label>Enable Radarr</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>