/* Info text */
h1 {
  font-size: 16px;
  font-weight: 300;
}

h2 {
  margin: 0;
  margin-bottom: 35px;
  font-weight: 700;
}

/* Input boxes that gets an error on validation */
input.invalid {
  background-color: #ffdddd;
}

/* The active form tab */
.tab {
  display: none;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

/* Current step indicator */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.3;
}

.step.active {
  background: var(--accent-color);
  opacity: 1;
}

.step.finish {
  background: var(--accent-color);
  opacity: 0.5;
}

/* Navigation controls */
#prevBtn {
  margin-right: 20px;
}

#box-nav-container {
  display: flex;
  width: 90%;
  justify-content: space-between;
}
