.poster-container .fa-angle-down {
  padding-top: 0px;
  color: #000000;
  background: #e4e4e4;
  -webkit-filter: drop-shadow(0 0 6px #000000);
  filter: drop-shadow(0 0 6px #000000);
  border-radius: 20px;
  width: 20px;
  height: 20px;
  left: 50%;
  bottom: 3px;
  transform: translate(-50%, 0%);
  line-height: 1.15;
}

.poster-container .fa-angle-down:hover {
  color: var(--accent-color);
  background: #ffffff;
}

.poster-description-container {
  display: none;
}

.cast.poster-container {
  height: auto;
}

.availablity-text {
  display: none;
}
