{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "head/sign_in.html" %}
</head>

<body>
    <!-- Wave Animation -->
    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>

    <div class="main">
        <div class="default-box" data-aos="zoom-in" data-aos-duration="1000">
            <div class="default-box-header">
                <img src="{% static 'images/conreq_logo.png' %}" class="logo">
            </div>

            <form id="sign-in-form" method="post" action="">
                {% csrf_token %}

                {{ form.non_field_errors }}
                <input placeholder="Username" autocapitalize="none" autocomplete="username" autofocus=""
                    id="id_username" maxlength="150" name="username" required="" type="text"
                    value="{{ form.data.username }}">

                <input placeholder="Password" autocapitalize="none" autocomplete="current-password" id="id_password"
                    name="password" required="" type="password" value="{{ form.data.password }}">

                <input type="submit" value="Sign In">
                <input type="hidden" name="next" value="{{ next }}">
            </form>

            <div class="forgot-password">
                <a href="{% url 'password_reset' %}">Forgot Password</a>
            </div>

        </div>
    </div>
</body>

</html>
